<form [formGroup]="configGroup" class="flag-form">
  <!-- Virtual Scroll Viewport -->
  <cdk-virtual-scroll-viewport
    [itemSize]="20"
    [style.height.px]="700"
    class="virtual-scroll-viewport"
  >
    <!-- Virtual scrolling content -->
    <div *cdkVirtualFor="let field of formFields; trackBy: trackByField" class="form-field-item">
      @if (field.type === 'operation-config' && !isType(['vfs', 'filter', 'backend'])) {
        <app-operation-config
          [opFormGroup]="configGroup"
          [operationType]="flagType"
          [currentRemoteName]="currentRemoteName"
          [existingRemotes]="existingRemotes"
          [isNewRemote]="isNewRemote"
          [description]="
            'Configure source, destination, and auto-start options for this operation.'
          "
          (sourceFolderSelected)="onSourceFolderSelect()"
          (destFolderSelected)="onDestFolderSelect()"
        >
        </app-operation-config>
      }

      <!-- Mount Type Selector -->
      @if (field.type === 'mount-type' && isType('mount')) {
        <div class="options">
          <mat-form-field appearance="fill">
            <mat-label>Mount Type</mat-label>
            <mat-select formControlName="type" placeholder="Select mount type">
              @for (mountType of mountTypes; track mountType) {
                <mat-option [value]="mountType">
                  {{ mountType | titlecase }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      <!-- Dynamic Flag Fields -->
      @if (field.type === 'dynamic-fields') {
        <ng-container formGroupName="options">
          @for (field of this.dynamicFlagFields; track field.Name) {
            <app-setting-control
              [option]="field"
              [formControlName]="getControlKey(flagType, field)"
            >
            </app-setting-control>
          }
        </ng-container>
      }
    </div>
  </cdk-virtual-scroll-viewport>
</form>
