form {
  display: flex;
  flex-direction: column;

  .slide-toggle {
    margin-bottom: 12px;
  }

  mat-spinner {
    display: flex;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }

  .field-card {
    margin-bottom: 12px;
    padding: 8px 12px;
    gap: 6px;
    overflow: clip;

    &.advanced-field {
      border-left: 4px solid var(--purple);
    }
  }
  .section-heading {
    margin: 16px 0 8px 0;
  }

  .bisync-options,
  .move-options,
  .copy-sync-options {
    margin: 16px 0;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--secondary-background);

    h4 {
      margin: 0 0 16px 0;
      color: var(--mat-primary-color);
      font-weight: 500;
    }

    mat-form-field,
    mat-slide-toggle {
      margin-bottom: 12px;
      width: 100%;
    }

    mat-slide-toggle {
      display: block;
      margin-bottom: 16px;
    }
  }
}
