<!-- remote-overview.component.html -->
<div class="overview">
    <div class="remote-header">
        <h2>{{ title }}</h2>
    </div>

    <div class="info-card overview-card">
        <h3>
            <mat-icon svgIcon="remotes"></mat-icon>
            Overview Remotes
        </h3>
        <mat-card class="info-card-content">
            <mat-card-content class="overview-content">
                <strong>Remotes Status</strong>
                <div class="remotes-bar">
                    <div class="bar active-bar" [style.width.%]="(activeCount / remotes.length) * 100"></div>
                    <div class="bar inactive-bar" [style.width.%]="(inactiveCount / remotes.length) * 100"></div>
                    <div class="bar error-bar" [style.width.%]="(errorCount / remotes.length) * 100"></div>
                </div>

                <!-- Legend -->
                <div class="legend" *ngIf="activeCount > 0 || inactiveCount > 0 || errorCount > 0">
                    <div class="legend-item" *ngIf="activeCount > 0">
                        <span class="color-box active"></span>
                        {{ mode === 'mount' ? 'Mounted' : (mode === 'sync' ? 'Syncing' : 'Copying') }}: {{ activeCount
                        }}
                    </div>
                    <div class="legend-item" *ngIf="inactiveCount > 0">
                        <span class="color-box inactive"></span>
                        {{ mode === 'mount' ? 'Unmounted' : (mode === 'sync' ? 'Off Sync' : 'Not Copying') }}: {{
                        inactiveCount }}
                    </div>
                    <div class="legend-item" *ngIf="errorCount > 0">
                        <span class="color-box error"></span>Error: {{ errorCount }}
                    </div>
                </div>
            </mat-card-content>

            <mat-divider *ngIf="activeCount > 0 && inactiveCount > 0"></mat-divider>

            <!-- Active Remotes -->
            <mat-card-content class="active-remotes" *ngIf="activeCount > 0">
                <h3>
                    <mat-icon [svgIcon]="activeIcon"></mat-icon>
                    {{ mode === 'mount' ? 'Mounted' : (mode === 'sync' ? 'Syncing' : 'Copying') }} Remotes
                </h3>
                <div class="remote-list">
                    <div class="remote-card" *ngFor="let remote of activeRemotes" (click)="selectRemote(remote)">
                        <div class="remote-content">
                            <h4 matTooltip="{{ remote.remoteSpecs.name }}">
                                {{ remote.remoteSpecs.name }}
                            </h4>
                            <p>
                                <mat-icon [svgIcon]="iconService.getIconName(remote.remoteSpecs.type)"></mat-icon>
                                {{ remote.remoteSpecs.type | titlecase }}
                            </p>
                        </div>
                        <button mat-raised-button color="accent"
                            (click)="triggerOpenInFiles(remote.remoteSpecs.name); $event.stopPropagation()"
                            [disabled]="getActionState(remote.remoteSpecs.name) === 'open'">
                            <mat-spinner *ngIf="getActionState(remote.remoteSpecs.name) === 'open'"
                                diameter="20"></mat-spinner>
                            <mat-icon *ngIf="getActionState(remote.remoteSpecs.name) !== 'open'"
                                [svgIcon]="secondaryActionIcon"></mat-icon>
                            {{ getActionState(remote.remoteSpecs.name) === 'open' ? "Opening" : secondaryActionLabel }}
                        </button>
                    </div>
                </div>
            </mat-card-content>

            <mat-divider *ngIf="inactiveCount > 0 && errorCount > 0"></mat-divider>

            <!-- Inactive Remotes -->
            <mat-card-content class="inactive-remotes" *ngIf="inactiveCount > 0">
                <h3>
                    <mat-icon [svgIcon]="inactiveIcon"></mat-icon>
                    {{ mode === 'mount' ? 'Unmounted' : (mode === 'sync' ? 'Off Sync' : 'Not Copying') }} Remotes
                </h3>
                <div class="remote-list">
                    <div class="remote-card" *ngFor="let remote of inactiveRemotes" (click)="selectRemote(remote)">
                        <div class="remote-content">
                            <h4 matTooltip="{{ remote.remoteSpecs.name }}">
                                {{ remote.remoteSpecs.name }}
                            </h4>
                            <p>
                                <mat-icon [svgIcon]="iconService.getIconName(remote.remoteSpecs.type)"></mat-icon>
                                {{ remote.remoteSpecs.type | titlecase }}
                            </p>
                        </div>
                        <button mat-raised-button [color]="mode === 'copy' ? 'accent' : 'primary'"
                            (click)="triggerPrimaryAction(remote.remoteSpecs.name); $event.stopPropagation()"
                            [disabled]="getActionState(remote.remoteSpecs.name) === mode">
                            <mat-spinner *ngIf="getActionState(remote.remoteSpecs.name) === mode"
                                diameter="20"></mat-spinner>
                            <mat-icon *ngIf="getActionState(remote.remoteSpecs.name) !== mode"
                                [svgIcon]="primaryActionIcon"></mat-icon>
                            {{ getActionState(remote.remoteSpecs.name) === mode
                            ? (mode === 'mount' ? 'Mounting' : mode === 'sync' ? 'Starting Sync' : 'Starting Copy')
                            : primaryActionLabel }}
                        </button>
                    </div>
                </div>
            </mat-card-content>

            <mat-divider *ngIf="errorCount > 0"></mat-divider>

            <!-- Error Remotes -->
            <mat-card-content *ngIf="errorCount > 0">
                <h3>
                    <mat-icon svgIcon="circle-exclamation"></mat-icon>
                    Remotes with Problems
                </h3>
                <div class="remote-list">
                    <div class="remote-card" *ngFor="let remote of errorRemotes" (click)="selectRemote(remote)">
                        <div class="remote-content">
                            <h4 matTooltip="{{ remote.remoteSpecs.name }}">
                                {{ remote.remoteSpecs.name }}
                            </h4>
                            <p>
                                <mat-icon [svgIcon]="iconService.getIconName(remote.remoteSpecs.type)"></mat-icon>
                                {{ remote.remoteSpecs.type | titlecase }}
                            </p>
                        </div>
                        <button mat-raised-button class="fix" (click)="$event.stopPropagation()">
                            <mat-icon svgIcon="wrench"></mat-icon>
                            Fix
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>