<div class="settings-list">
  @if (control) {
    <ng-template #settingInfo let-opt>
      <div class="setting">
        <div class="setting-info">
          <strong>{{ opt.FieldName || opt.Name }}</strong>
          <p class="help-text" [innerHTML]="opt.Help | linebreaks"></p>
          <small class="default-value">Default: {{ opt.DefaultStr }}</small>
        </div>
        @if (isValueChanged()) {
          <button
            mat-icon-button
            class="reset-btn"
            (click)="resetToDefault()"
            matTooltip="Reset to default"
            aria-label="Reset to default"
          >
            <mat-icon svgIcon="refresh"></mat-icon>
          </button>
        }
      </div>
    </ng-template>
    <ng-template
      #standardInput
      let-opt
      let-inputType="inputType"
      let-inputStep="inputStep"
      let-inputHint="inputHint"
    >
      <div class="setting-full-width">
        <ng-container *ngTemplateOutlet="settingInfo; context: { $implicit: opt }"></ng-container>
        <div class="setting-control">
          <mat-form-field class="input-field" appearance="outline">
            <input
              matInput
              [type]="inputType || 'text'"
              [step]="inputStep || null"
              [formControl]="$any(control)"
              [attr.aria-label]="opt.Name"
              [placeholder]="opt.DefaultStr || ''"
              (blur)="commitValue()"
            />
            @if (inputHint) {
              <mat-hint>{{ inputHint }}</mat-hint>
            }
            @if (control.invalid && control.touched) {
              <mat-error>{{ getControlError() }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template #standardSelect let-opt>
      <div class="setting-full-width">
        <ng-container *ngTemplateOutlet="settingInfo; context: { $implicit: opt }"></ng-container>
        <div class="setting-control">
          <mat-form-field class="input-field" appearance="outline">
            <mat-select
              [formControl]="$any(control)"
              [attr.aria-label]="opt.Name"
              (selectionChange)="commitValue()"
            >
              @for (example of opt.Examples; track example.Value) {
                <mat-option [value]="example.Value">{{ example.Help || example.Value }}</mat-option>
              }
            </mat-select>
            @if (control.invalid && control.touched) {
              <mat-error>{{ getControlError() }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template #multiSelect let-opt let-optionsList="optionsList" let-inputHint="inputHint">
      <div class="setting-full-width">
        <ng-container *ngTemplateOutlet="settingInfo; context: { $implicit: opt }"></ng-container>
        <div class="setting-control">
          <mat-form-field class="input-field" appearance="outline">
            <mat-select
              multiple
              [formControl]="$any(control)"
              [attr.aria-label]="opt.Name"
              (selectionChange)="commitValue()"
            >
              <!-- 
                This loop handles both string arrays (['val1', 'val2'])
                and object arrays ([{Value: 'v1'}, {Value: 'v2'}])
              -->
              @for (item of optionsList; track item.Value || item) {
                <mat-option [value]="item.Value || item">{{
                  item.Help || item.Value || item
                }}</mat-option>
              }
            </mat-select>
            <mat-hint>{{ inputHint || 'Select one or more items' }}</mat-hint>
            @if (control.invalid && control.touched) {
              <mat-error>{{ getControlError() }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </ng-template>
    <div class="setting-item" id="{{ 'setting-' + option.Name }}">
      @switch (option.Type) {
        <!-- Unique control: bool -->
        @case ('bool') {
          <ng-container
            *ngTemplateOutlet="settingInfo; context: { $implicit: option }"
          ></ng-container>
          <div class="setting-control">
            <mat-slide-toggle
              [formControl]="$any(control)"
              [attr.aria-label]="option.Name"
              (change)="commitValue()"
            >
              {{ control.value ? 'Enabled' : 'Disabled' }}
            </mat-slide-toggle>
          </div>
        }
        @case ('string') {
          @if (option.Examples && option.Examples.length > 0) {
            <ng-container
              *ngTemplateOutlet="standardSelect; context: { $implicit: option }"
            ></ng-container>
          } @else {
            <ng-container
              *ngTemplateOutlet="standardInput; context: { $implicit: option }"
            ></ng-container>
          }
        }

        <!-- Standard inputs with custom hints/types -->
        @case ('Duration') {
          <ng-container
            *ngTemplateOutlet="
              standardInput;
              context: { $implicit: option, inputHint: 'Format: 1h30m45s' }
            "
          ></ng-container>
        }
        @case ('SpaceSepList') {
          <ng-container
            *ngTemplateOutlet="
              standardInput;
              context: { $implicit: option, inputHint: 'Space-separated list of values' }
            "
          ></ng-container>
        }
        @case ('Time') {
          <ng-container
            *ngTemplateOutlet="
              standardInput;
              context: {
                $implicit: option,
                inputType: 'datetime-local',
                inputHint: 'ISO 8601 format (YYYY-MM-DDTHH:mm:ssZ)',
              }
            "
          ></ng-container>
        }
        @case ('BwTimetable') {
          <ng-container
            *ngTemplateOutlet="
              standardInput;
              context: {
                $implicit: option,
                inputHint:
                  'Bandwidth limit in KiB/s, or use suffix B|K|M|G|T|P or full timetable format',
              }
            "
          ></ng-container>
        }
        @case ('SizeSuffix') {
          <ng-container
            *ngTemplateOutlet="
              standardInput;
              context: { $implicit: option, inputHint: 'Format: 100Ki, 16Mi, 1Gi' }
            "
          ></ng-container>
        }
        @case ('FileMode') {
          <ng-container
            *ngTemplateOutlet="standardInput; context: { $implicit: option }"
          ></ng-container>
        }

        <!-- Number inputs -->
        @case ('int') {
          <ng-container
            *ngTemplateOutlet="standardInput; context: { $implicit: option, inputType: 'number' }"
          ></ng-container>
        }
        @case ('int64') {
          <ng-container
            *ngTemplateOutlet="standardInput; context: { $implicit: option, inputType: 'number' }"
          ></ng-container>
        }
        @case ('uint32') {
          <ng-container
            *ngTemplateOutlet="standardInput; context: { $implicit: option, inputType: 'number' }"
          ></ng-container>
        }
        @case ('float64') {
          <ng-container
            *ngTemplateOutlet="
              standardInput;
              context: { $implicit: option, inputType: 'number', inputStep: 'any' }
            "
          ></ng-container>
        }

        <!-- Multi-select controls -->
        @case ('Bits') {
          <ng-container
            *ngTemplateOutlet="
              multiSelect;
              context: {
                $implicit: option,
                optionsList: bitsFlags,
                inputHint: 'Select one or more flags',
              }
            "
          ></ng-container>
        }
        @case ('Encoding') {
          <ng-container
            *ngTemplateOutlet="
              multiSelect;
              context: {
                $implicit: option,
                optionsList: encodingFlags,
                inputHint: 'Select one or more encoding flags',
              }
            "
          ></ng-container>
        }
        @case ('DumpFlags') {
          <ng-container
            *ngTemplateOutlet="
              multiSelect;
              context: {
                $implicit: option,
                optionsList: option.Examples || [
                  'headers',
                  'bodies',
                  'requests',
                  'responses',
                  'auth',
                  'filters',
                  'goroutines',
                  'openfiles',
                  'mapper',
                ],
                inputHint: 'Select items to dump (multiple allowed)',
              }
            "
          ></ng-container>
        }

        <!-- Unique control: Tristate -->
        @case ('Tristate') {
          <div class="setting-full-width">
            <ng-container
              *ngTemplateOutlet="settingInfo; context: { $implicit: option }"
            ></ng-container>
            <div class="setting-control">
              <mat-form-field class="input-field" appearance="outline">
                <mat-select
                  [formControl]="$any(control)"
                  [attr.aria-label]="option.Name"
                  (selectionChange)="commitValue()"
                >
                  <mat-option [value]="null">Auto (unset)</mat-option>
                  <mat-option [value]="true">True</mat-option>
                  <mat-option [value]="false">False</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        }
        @case ('stringArray') {
          <div class="setting-full-width">
            <ng-container
              *ngTemplateOutlet="settingInfo; context: { $implicit: option }"
            ></ng-container>
            <div class="array-items">
              @for (itemControl of formArrayControls; track $index) {
                <div class="array-item">
                  <mat-form-field appearance="outline" class="array-input">
                    <input
                      matInput
                      [formControl]="$any(itemControl)"
                      [attr.aria-label]="option.Name + ' item ' + ($index + 1)"
                      (blur)="commitValue()"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="removeArrayItem($index)"
                      [attr.aria-label]="'Remove ' + option.Name + ' item'"
                    >
                      <mat-icon svgIcon="trash"></mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              }
              <button mat-stroked-button class="add-array-item-btn" (click)="addArrayItem()">
                <mat-icon svgIcon="add"></mat-icon>
                Add Item
              </button>
            </div>
          </div>
        }
        @case ('CommaSepList') {
          <div class="setting-full-width">
            <ng-container
              *ngTemplateOutlet="settingInfo; context: { $implicit: option }"
            ></ng-container>
            <div class="array-items">
              @for (itemControl of formArrayControls; track $index) {
                <div class="array-item">
                  <mat-form-field appearance="outline" class="array-input">
                    <input
                      matInput
                      [formControl]="$any(itemControl)"
                      [attr.aria-label]="option.Name + ' item ' + ($index + 1)"
                      (blur)="commitValue()"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="removeArrayItem($index)"
                      [attr.aria-label]="'Remove ' + option.Name + ' item'"
                    >
                      <mat-icon svgIcon="trash"></mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              }
              <button mat-stroked-button class="add-array-item-btn" (click)="addArrayItem()">
                <mat-icon svgIcon="add"></mat-icon>
                Add Item
              </button>
            </div>
          </div>
        }
        @default {
          @if (option.Examples) {
            <ng-container
              *ngTemplateOutlet="standardSelect; context: { $implicit: option }"
            ></ng-container>
          } @else {
            <div class="setting-full-width">
              <div class="setting-info">
                <strong>{{ option.FieldName || option.Name }}</strong>
                <p>{{ option.Help }}</p>
                <small class="type-info">Type: {{ option.Type }} (not implemented)</small>
                <small class="default-value">Default: {{ option.DefaultStr }}</small>
              </div>
            </div>
          }
        }
      }
    </div>
  }
</div>
