<form [formGroup]="form()">
  @let remoteType = remoteTypeValue();
  @if (showTypeField()) {
    <mat-form-field appearance="fill" class="remote-type-field">
      <mat-label>{{ 'wizards.remoteConfig.remoteType' | translate }}</mat-label>
      <mat-icon
        matPrefix
        [svgIcon]="iconService.getIconName(remoteType)"
        class="field-icon"
      ></mat-icon>
      <input
        type="text"
        matInput
        [formControl]="remoteSearchCtrl"
        [matAutocomplete]="auto"
        [placeholder]="'wizards.remoteConfig.remoteTypePlaceholder' | translate"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayRemote"
        (optionSelected)="onTypeSelected($event.option.value)"
      >
        @for (remote of filteredRemotes(); track remote.value) {
          <mat-option [value]="remote.value">
            <mat-icon
              class="field-icon"
              [svgIcon]="iconService.getIconName(remote.value)"
            ></mat-icon>
            <div class="option-content">
              <span class="option-label">{{ remote.label }}</span>
              <small class="option-description">{{ remote.value }}</small>
            </div>
          </mat-option>
        } @empty {
          <mat-option disabled>{{ 'wizards.remoteConfig.noMatchingTypes' | translate }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  }

  @if (showNameField() || showAdvancedToggle() || showInteractiveToggle()) {
    <div class="config-section" id="section-general">
      @if (showNameField()) {
        <mat-form-field appearance="fill">
          <mat-label>{{ 'wizards.remoteConfig.remoteName' | translate }}</mat-label>
          <mat-icon matPrefix svgIcon="cloud" class="field-icon"></mat-icon>
          <input
            matInput
            formControlName="name"
            id="remoteName"
            [placeholder]="'wizards.remoteConfig.remoteNamePlaceholder' | translate"
          />
          @if (form().get('name')?.hasError('required')) {
            <mat-error>{{ 'wizards.remoteConfig.remoteNameRequired' | translate }}</mat-error>
          }
          @if (form().get('name')?.hasError('invalidChars')) {
            <mat-error>{{ 'wizards.remoteConfig.invalidChars' | translate }}</mat-error>
          }
          @if (form().get('name')?.hasError('invalidStart')) {
            <mat-error>{{ 'wizards.remoteConfig.invalidStart' | translate }}</mat-error>
          }
          @if (form().get('name')?.hasError('invalidEnd')) {
            <mat-error>{{ 'wizards.remoteConfig.invalidEnd' | translate }}</mat-error>
          }
          @if (form().get('name')?.hasError('nameTaken')) {
            <mat-error>{{ 'wizards.remoteConfig.nameTaken' | translate }}</mat-error>
          }
        </mat-form-field>
      }

      @if (showAdvancedToggle()) {
        <div class="interactive-option">
          <div class="option-info">
            <span class="option-title">{{ 'wizards.remoteConfig.showAdvanced' | translate }}</span>
            <p class="option-desc">{{ 'wizards.remoteConfig.showAdvancedDesc' | translate }}</p>
          </div>
          <mat-slide-toggle (change)="toggleAdvancedOptions()" [checked]="showAdvancedOptions()">
          </mat-slide-toggle>
        </div>
      }

      @if (showInteractiveToggle()) {
        <div class="interactive-option">
          <div class="option-info">
            <span class="option-title">{{
              'wizards.remoteConfig.useInteractive' | translate
            }}</span>
            <p class="option-desc">{{ 'wizards.remoteConfig.useInteractiveDesc' | translate }}</p>
          </div>
          <mat-slide-toggle (change)="toggleInteractiveMode()" [checked]="useInteractiveMode()">
          </mat-slide-toggle>
        </div>
      }
    </div>
  }

  @if (isLoading()) {
    <div class="loading-container">
      <mat-spinner diameter="30"></mat-spinner>
      <span>{{ 'wizards.remoteConfig.loadingOptions' | translate }}</span>
    </div>
  }

  @if (providerField(); as pField) {
    <mat-form-field appearance="fill" id="section-auth">
      <mat-label>{{
        pField.Help || ('wizards.remoteConfig.authenticationMethod' | translate)
      }}</mat-label>
      <mat-icon
        matPrefix
        [svgIcon]="iconService.getIconName(form().get(pField.Name)?.value || 'hard-drive')"
        class="field-icon"
      ></mat-icon>
      <input
        type="text"
        matInput
        [formControl]="providerSearchCtrl"
        [matAutocomplete]="providerAuto"
        [placeholder]="pField.DefaultStr || ''"
      />
      <mat-autocomplete
        #providerAuto="matAutocomplete"
        [displayWith]="displayProvider"
        (optionSelected)="onProviderSelected($event.option.value)"
      >
        @for (option of filteredProviders(); track option.Value) {
          <mat-option [value]="option.Value">
            <mat-icon [svgIcon]="iconService.getIconName(option.Value)"></mat-icon>
            <div class="option-content">
              <span class="option-label">{{ option.Help }}</span>
              <small class="option-description">{{ option.Value }}</small>
            </div>
          </mat-option>
        }
      </mat-autocomplete>
      @if (form().get(pField.Name)?.hasError('required')) {
        <mat-error>{{ 'wizards.remoteConfig.providerRequired' | translate }}</mat-error>
      }
    </mat-form-field>
  }

  @if (providerReady()) {
    @for (item of basicFields(); track item.Name) {
      <app-setting-control
        [option]="item"
        [formControlName]="item.Name"
        [provider]="remoteType"
        (valueChanged)="onFieldChanged(item.Name, $event)"
      ></app-setting-control>
    }
  }

  @if (showAdvancedOptions() && advancedFields().length > 0 && providerReady()) {
    <div class="advanced-section" id="section-advanced">
      <h3 class="section-heading">
        {{ 'wizards.remoteConfig.advancedOptions' | translate }}
        <span>{{ advancedFields().length }}</span>
      </h3>

      @for (item of advancedFields(); track item.Name) {
        <app-setting-control
          [option]="item"
          [formControlName]="item.Name"
          [provider]="remoteType"
          (valueChanged)="onFieldChanged(item.Name, $event)"
        ></app-setting-control>
      }
    </div>
  }
</form>
