<div class="about-modal">
    <div class="modal-header" data-tauri-drag-region [class.scrolled]="scrolled">
      <button>
        <mat-icon></mat-icon>
      </button>
      <p>About</p>
      <button class="close-btn" (click)="close()">
        <mat-icon svgIcon="circle-xmark"></mat-icon>
      </button>
    </div>
    <!-- Main About Page -->
    <div class="modal-content" #content (scroll)="onScroll(content)" [class.blurred]="currentPage !== 'main'">
        <mat-icon svgIcon="rclone" class="app-icon"></mat-icon>
        <h2 class="app-name">RClone Manager</h2>
        <p class="app-team">Hakan İSMAİL</p>
        <span class="version-badge" (click)="copyToClipboard(version)">{{ version }}</span>

        <!-- Navigation List -->
        <div class="about-list">
            <button mat-button class="about-item" (click)="navigateTo('details')">
                <span>Details</span>
                <mat-icon svgIcon="chevron-right"></mat-icon>
            </button>
            <div class="stacked-buttons">
                <button mat-button class="about-item" (click)="navigateTo('credits')"
                    style="border-radius: 16px 16px 0px 0px !important;">
                    <span>Credits</span> <mat-icon svgIcon="chevron-right"></mat-icon>
                </button>
                <mat-divider></mat-divider>
                <button mat-button class="about-item" (click)="navigateTo('legal')"
                    style="border-radius: 0px 0px 16px 16px !important;">
                    <span>Legal</span> <mat-icon svgIcon="chevron-right"></mat-icon>
                </button>
            </div>
        </div>
    </div>

    <!-- Overlay Pages -->
    <div class="overlay" *ngIf="currentPage !== 'main'" [@slideOverlay]>
        <div class="overlay-header">
            <button (click)="navigateTo('main')">
                <mat-icon svgIcon="chevron-left" class="icon icon-bw"></mat-icon>
            </button>
            <p><strong>{{ currentPage | titlecase }}</strong></p>
            <button (click)="close()">
                <mat-icon svgIcon="circle-xmark" class="icon icon-bw"></mat-icon>
            </button>
        </div>


        <div class="overlay-content" *ngIf="currentPage === 'details'">
            <div class="stacked-buttons">
                <button mat-button class="about-item"
                    (click)="openLink('https://gitlab.com/Hakanbaban53/rclone-manager')"
                    style="border-radius: 16px 16px 0px 0px !important;">
                    <span>Website</span>
                    <mat-icon svgIcon="open-link"></mat-icon>
                </button>
                <mat-divider></mat-divider>
                <button mat-button class="about-item"
                    (click)="openLink('https://gitlab.com/Hakanbaban53/rclone-manager/-/issues')"
                    style="border-radius: 0px 0px 16px 16px !important;">
                    <span>Report Issues</span> <mat-icon svgIcon="open-link"></mat-icon>
                </button>
            </div>
        </div>

        <div class="overlay-content credits" *ngIf="currentPage === 'credits'">
            <strong>Developed By</strong>
            <button mat-button class="about-item">
                <span>Hakan İSMAİL</span>
            </button>
        </div>

        <div class="overlay-content" *ngIf="currentPage === 'legal'">
            <p>This application comes with absolutely no warranty. See the <a
                    (click)="openLink('https://www.gnu.org/licenses/gpl-3.0.html')">GNU General Public License, version
                    3</a> or later for details.</p>
        </div>
    </div>
</div>