<mat-card class="serve-card" (click)="onCardClick()">
  <mat-card-header class="serve-card-header">
    <div class="serve-info">
      <div class="serve-icon-wrapper">
        <mat-icon [svgIcon]="serveTypeInfo().icon" class="serve-icon"></mat-icon>
      </div>
      <div class="serve-details">
        <div class="serve-title-row">
          @if (showRemoteName()) {
            <span class="serve-remote-name">{{ remoteName() }}</span>
          }
          <span class="serve-protocol-badge">
            {{ serve().params.type | uppercase }}
          </span>
          @if (serve().profile) {
            <span class="serve-profile-badge">{{ serve().profile }}</span>
          }
        </div>

        @if (serveUrl(); as url) {
          <div class="serve-url-container">
            <span
              class="serve-url"
              [matTooltip]="'shared.serveCard.tooltips.copyUrl' | translate"
              matTooltipShowDelay="500"
              (click)="
                onCopyToClipboard(url, 'shared.serveCard.messages.urlCopied');
                $event.stopPropagation()
              "
              role="button"
              tabindex="0"
            >
              {{ url }}
            </span>
          </div>
        } @else {
          <span class="serve-address">{{ serve().addr }}</span>
        }
        <span class="serve-fs">{{ serve().params.fs }}</span>
      </div>
    </div>
    <button
      mat-icon-button
      class="warn"
      (click)="onStopServe(); $event.stopPropagation()"
      [matTooltip]="'shared.serveCard.tooltips.stop' | translate"
      matTooltipShowDelay="500"
    >
      <mat-icon svgIcon="stop"></mat-icon>
    </button>
  </mat-card-header>

  <mat-card-footer class="serve-metadata">
    <div class="metadata-row">
      <mat-icon svgIcon="fingerprint" class="metadata-icon"></mat-icon>
      <span class="metadata-label">{{ 'shared.serveCard.labels.id' | translate }}</span>
      <span
        class="metadata-value"
        [matTooltip]="'shared.serveCard.tooltips.copyId' | translate"
        matTooltipShowDelay="500"
        (click)="
          onCopyToClipboard(serve().id, 'shared.serveCard.messages.idCopied');
          $event.stopPropagation()
        "
        role="button"
        tabindex="1"
      >
        {{ serve().id }}
      </span>
    </div>

    @if (optionKeys().length > 0) {
      <div class="metadata-row">
        <mat-icon svgIcon="gear" class="metadata-icon"></mat-icon>
        <span class="metadata-label">{{ 'shared.serveCard.labels.options' | translate }}</span>
        <span
          class="metadata-value options-value"
          [matTooltip]="optionsTooltip()"
          matTooltipShowDelay="500"
        >
          {{ optionKeys().length }} {{ 'shared.serveCard.labels.active' | translate }}
        </span>
      </div>
    }
  </mat-card-footer>
</mat-card>
