<mat-icon style="align-self: baseline" [svgIcon]="resolvedIcon()" />
<div class="alert-content">
  @if (title()) {
    <strong>{{ title() }}</strong>
  }
  @if (description()) {
    <p>{{ description() }}</p>
  }
  <ng-content></ng-content>
  @if (linkUrl()) {
    <a [href]="linkUrl()" target="_blank">
      {{ linkText() || linkUrl() }}
      <mat-icon svgIcon="open-link" />
    </a>
  }
</div>
@if (dismissable()) {
  <button
    type="button"
    class="action-button dismiss-button"
    [attr.title]="dismissTooltip() || ('common.close' | translate)"
    (click)="dismiss.emit()"
    [attr.aria-label]="dismissTooltip() || ('common.close' | translate)"
  >
    <mat-icon svgIcon="close"></mat-icon>
  </button>
}
