<div class="overview">
    <div class="remote-header">
        <h2>Overview</h2>
    </div>

    <div class="info-card overview-card">
        <h3>
            <img src="assets/icons/remotes.svg" class="icon icon-bw" /> Overview Remotes
        </h3>
        <mat-card class="info-card-content">
            <mat-card-content class="overview-content">
                <strong>Remotes Status</strong>
                <div class="remotes-bar">
                    <div class="bar mounted-bar" [style.width.%]="(mountedCount / remotes.length) * 100"></div>
                    <div class="bar unmounted-bar" [style.width.%]="(unmountedCount / remotes.length) * 100"></div>
                    <div class="bar error-bar" [style.width.%]="(errorCount / remotes.length) * 100"></div>
                </div>

                <!-- Legend -->
                <div class="legend" *ngIf="mountedCount > 0 || unmountedCount > 0 || errorCount > 0">
                    <div class="legend-item" *ngIf="mountedCount > 0">
                        <span class="color-box mounted"></span>Mounted: {{ mountedCount }}
                    </div>
                    <div class="legend-item" *ngIf="unmountedCount > 0">
                        <span class="color-box unmounted"></span>Unmounted: {{ unmountedCount }}
                    </div>
                    <div class="legend-item" *ngIf="errorCount > 0">
                        <span class="color-box error"></span>Error: {{ errorCount }}
                    </div>
                </div>
            </mat-card-content>

            <mat-divider *ngIf="mountedCount > 0 && unmountedCount > 0"></mat-divider>

            <!-- Mounted Remotes -->
            <mat-card-content class="mounted-remotes" *ngIf="mountedCount > 0">
                <h3>
                    <img src="assets/icons/mount.svg" class="icon icon-bw" /> Mounted Remotes
                </h3>
                <div class="remote-list">
                    <div *ngFor="let remote of mountedRemotes" class="remote-card" (click)="selectRemote(remote)">
                        <div class="remote-content">
                            <h4>{{ remote.remoteSpecs.name }}</h4>
                            <p>
                                <img src="assets/icons/remotes/{{ remote.remoteSpecs.type }}.svg" class="icon"
                                    onerror="this.onerror=null;this.src='assets/icons/remotes/hard-drive.svg';" />
                                {{ remote.remoteSpecs.type }}
                            </p>
                        </div>
                        <button class="open"
                            (click)="openRemoteInFiles(remote.remoteSpecs.name); $event.stopPropagation()">
                            <img src="assets/icons/folder-white.svg" class="icon" />
                            Open Files
                        </button>
                    </div>
                </div>
            </mat-card-content>

            <mat-divider *ngIf="unmountedCount > 0 && errorCount > 0"></mat-divider>

            <!-- Unmounted Remotes -->
            <mat-card-content class="unmounted-remotes" *ngIf="unmountedCount > 0">
                <h3>
                    <img src="assets/icons/circle-xmark.svg" class="icon icon-bw" /> Unmounted Remotes
                </h3>
                <div class="remote-list">
                    <div *ngFor="let remote of unmountedRemotes" class="remote-card" (click)="selectRemote(remote)">
                        <div class="remote-content">
                            <h4>{{ remote.remoteSpecs.name }}</h4>
                            <p>
                                <img src="assets/icons/remotes/{{ remote.remoteSpecs.type }}.svg" class="icon"
                                    onerror="this.onerror=null;this.src='assets/icons/remotes/hard-drive.svg';" />
                                {{ remote.remoteSpecs.type }}
                            </p>
                        </div>
                        <button class="mount"
                            (click)="mountRemoteByFs(remote.remoteSpecs.name); $event.stopPropagation()">
                            <img src="assets/icons/mount.svg" class="icon" style="filter: invert(1)" />
                            Mount
                        </button>
                    </div>
                </div>
            </mat-card-content>

            <mat-divider *ngIf="errorCount > 0"></mat-divider>

            <!-- Remotes with Problems -->
            <mat-card-content *ngIf="errorCount > 0">
                <h3>
                    <img src="assets/icons/circle-exclamation.svg" class="icon icon-bw" /> Remotes with Problems
                </h3>
                <div class="remote-list">
                    <div *ngFor="let remote of errorRemotes" class="remote-card" (click)="selectRemote(remote)">
                        <div class="remote-content">
                            <h4>{{ remote.remoteSpecs.name }}</h4>
                            <p>
                                <img src="assets/icons/remotes/{{ remote.remoteSpecs.type }}.svg" class="icon"
                                    onerror="this.onerror=null;this.src='assets/icons/remotes/hard-drive.svg';" />
                                {{ remote.remoteSpecs.type }}
                            </p>
                        </div>
                        <button class="fix" (click)="$event.stopPropagation()">
                            <img src="assets/icons/wrench.svg" class="icon" style="filter: invert(1)" />
                            Fix
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>