<div class="input-modal">
  <!-- 🔹 Modal Header -->
  <div class="modal-header" data-tauri-drag-region>
    <button>
      <mat-icon svgIcon="question"></mat-icon>
    </button>
    <p>{{ data.title }}</p>
    <button (click)="close()">
      <mat-icon svgIcon="circle-xmark"></mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="modal-content">
    <p>{{ data.description }}</p>
    @for (field of data.fields; track field.name) {
      @switch (field.type) {
        <!-- Regular input types -->
        @case ('text') {
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [(ngModel)]="formData[field.name]" [required]="field.required" />
          </mat-form-field>
        }
        @case ('password') {
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [(ngModel)]="formData[field.name]" type="password" [required]="field.required" />
          </mat-form-field>
        }
        @case ('number') {
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput type="number" [(ngModel)]="formData[field.name]" [required]="field.required" />
          </mat-form-field>
        }
        @case ('select') {
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>{{ field.label }}</mat-label>
            <mat-select [(ngModel)]="formData[field.name]" [required]="field.required">
              @for (option of field.options; track option) {
                <mat-option [value]="option">
                  {{ option }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        <!-- Folder select input -->
        @case ('folder') {
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [value]="formData[field.name]" placeholder="Select a folder..." readonly />
            <button mat-icon-button matSuffix type="button" (click)="selectFolder()">
              <mat-icon svgIcon="folder"></mat-icon>
            </button>
          </mat-form-field>
        }
      }
    }
    <div mat-dialog-actions align="center">
      <button mat-raised-button color="primary" (click)="confirm()" [disabled]="!isFormValid()">
        <mat-icon svgIcon="circle-check"></mat-icon>
        <span>Confirm</span>
      </button>
    </div>
  </div>
</div>