<mat-sidenav-container class="nautilus-overlay-pane" autosize cdkDropListGroup>
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode()"
    [opened]="isSidenavOpen()"
    (openedChange)="isSidenavOpen.set($event)"
    class="nautilus-sidenav"
  >
    <div class="nautilus-layout">
      <div class="nautilus-header">
        <mat-toolbar data-tauri-drag-region>
          <button class="nav-button" (click)="toggleSearchMode()" [class.active]="isSearchMode()">
            <mat-icon svgIcon="search"></mat-icon>
          </button>
          <span>{{ title() | translate }}</span>
          <button
            class="nav-button"
            [cdkMenuTriggerFor]="sidebarMainMenu"
            [cdkMenuPosition]="[
              { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top', offsetY: 8 },
            ]"
          >
            <mat-icon svgIcon="menu-bar"></mat-icon>
          </button>
        </mat-toolbar>
      </div>

      <div class="nautilus-scroll-content">
        <mat-nav-list>
          <mat-list-item
            class="remote-list-item starred-item"
            (click)="selectStarred()"
            [class.selected]="starredMode()"
            cdkDropList
            id="sidebar-starred"
            [cdkDropListEnterPredicate]="canDropOnStarred"
            (cdkDropListDropped)="onDropToStarred($event)"
            [cdkDropListAutoScrollDisabled]="true"
            [cdkContextMenuTriggerFor]="sidebarStarredMenu"
          >
            <span class="remote-info">
              <span class="remote-icon">
                <mat-icon svgIcon="star"></mat-icon>
                <p matLine>{{ 'nautilus.titles.starred' | translate }}</p>
              </span>
            </span>
          </mat-list-item>

          <mat-divider></mat-divider>

          <div
            class="bookmarks-section"
            cdkDropList
            [cdkDropListData]="filteredBookmarks()"
            [cdkDropListEnterPredicate]="canDropOnBookmarks"
            (cdkDropListDropped)="onDropToLocal($event)"
          >
            <div class="new-bookmark-placeholder">
              <mat-icon svgIcon="bookmark"></mat-icon>
              <span>{{ 'nautilus.sidebar.newBookmark' | translate }}</span>
            </div>

            @for (drive of localDrives(); track trackByRemote($index, drive)) {
              <mat-list-item
                class="remote-list-item"
                (click)="selectRemote(drive); isMobile() ? sidenav.close() : null"
                [class.selected]="nautilusRemote()?.name === drive.name && !starredMode()"
                [cdkContextMenuTriggerFor]="sidebarRemoteMenu"
                [cdkContextMenuTriggerData]="{ $implicit: drive }"
                (cdkContextMenuOpened)="sideContextRemote.set(drive)"
                cdkDropList
                [cdkDropListData]="drive"
                [cdkDropListEnterPredicate]="canAcceptFile"
                (cdkDropListDropped)="onDropToRemote($event, drive)"
              >
                <span class="remote-info">
                  <span class="remote-icon">
                    <mat-icon matListIcon svgIcon="hard-drive"></mat-icon>
                    <p matLine>{{ drive.label }}</p>
                  </span>
                </span>
              </mat-list-item>
            }

            @for (bm of filteredBookmarks(); track trackByBookmark($index, bm)) {
              <mat-list-item
                class="remote-list-item bookmark-item"
                (click)="openBookmark(bm)"
                [cdkContextMenuTriggerFor]="sidebarBookmarkMenu"
                [cdkContextMenuTriggerData]="{ $implicit: bm }"
                (cdkContextMenuOpened)="bookmarkContextItem = bm"
              >
                <span class="remote-info">
                  <span class="remote-icon">
                    <mat-icon
                      [svgIcon]="
                        bm.meta.remoteType ? iconService.getIconName(bm.meta.remoteType) : 'folder'
                      "
                    ></mat-icon>
                    <p matLine>{{ bm.entry.Name }}</p>
                  </span>
                </span>
              </mat-list-item>
            }
          </div>

          <mat-divider></mat-divider>

          @for (remote of cloudRemotes(); track trackByRemote($index, remote)) {
            <mat-list-item
              (click)="selectRemote(remote); isMobile() ? sidenav.close() : null"
              [cdkContextMenuTriggerFor]="sidebarRemoteMenu"
              [cdkContextMenuTriggerData]="{ $implicit: remote }"
              (cdkContextMenuOpened)="sideContextRemote.set(remote)"
              [class.selected]="nautilusRemote()?.name === remote.name && !starredMode()"
              class="remote-list-item"
              cdkDropList
              [cdkDropListData]="remote"
              [cdkDropListEnterPredicate]="canAcceptFile"
              (cdkDropListDropped)="onDropToRemote($event, remote)"
            >
              <span class="remote-info">
                <span class="remote-icon">
                  <mat-icon matListIcon [svgIcon]="iconService.getIconName(remote.type)"></mat-icon>
                  <p matLine>{{ remote.label }}</p>
                </span>
              </span>
            </mat-list-item>
          }
        </mat-nav-list>
      </div>

      <!-- Operations Panel at bottom of sidebar -->
      <app-operations-panel></app-operations-panel>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="nautilus-main-content">
    <mat-toolbar class="nautilus-toolbar" data-tauri-drag-region>
      <div class="left-section">
        @if (isMobile()) {
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon svgIcon="menu-bar"></mat-icon>
          </button>
        }

        @if (!isMobile()) {
          <button (click)="goBack()" [disabled]="!canGoBack()" class="nav-button">
            <mat-icon svgIcon="chevron-left"></mat-icon>
          </button>
          <button (click)="goForward()" [disabled]="!canGoForward()" class="nav-button">
            <mat-icon svgIcon="chevron-right"></mat-icon>
          </button>
        }
      </div>
      <div
        class="path-container"
        (click)="!isSearchMode() ? isEditingPath.set(true) : null"
        (keydown.escape)="isEditingPath.set(false); isSearchMode.set(false)"
        tabindex="0"
      >
        @if (isSearchMode()) {
          <input
            #searchInput
            class="path-input"
            [placeholder]="'nautilus.titles.searchPlaceholder' | translate"
            [value]="searchFilter()"
            (input)="searchFilter.set(searchInput.value)"
            (keydown.escape)="toggleSearchMode(); searchInput.blur()"
            (blur)="toggleSearchMode()"
          />
        } @else if (!isEditingPath()) {
          @if (starredMode()) {
            <div class="path-scroll-view hide-scrollbar">
              <button class="path-segment">
                <mat-icon svgIcon="star"></mat-icon>
                {{ 'nautilus.titles.starred' | translate }}
              </button>
            </div>
          } @else {
            <div
              class="path-scroll-view hide-scrollbar"
              #pathScrollView
              (wheel)="onPathScroll($event)"
            >
              <button class="path-segment" (click)="$event.stopPropagation(); updatePath('')">
                <mat-icon
                  [svgIcon]="
                    activeRemote()?.isLocal
                      ? 'hard-drive'
                      : this.iconService.getIconName(activeRemote()?.type || '')
                  "
                ></mat-icon>
                {{ activeRemote()?.label || ('nautilus.titles.local' | translate) }}
              </button>

              @for (segment of pathSegments(); track $index) {
                <span class="path-separator">/</span>
                <button
                  class="path-segment"
                  [class.active]="$index === pathSegments().length - 1"
                  (click)="$event.stopPropagation(); navigateToSegment($index)"
                >
                  {{ segment }}
                </button>
              }
            </div>
          }
          <button
            class="nav-button"
            style="border-radius: 0"
            (click)="$event.stopPropagation()"
            [cdkMenuTriggerFor]="pathOptionsMenu"
          >
            <mat-icon svgIcon="ellipsis-vertical"></mat-icon>
          </button>
        } @else {
          <input
            #pathInput
            class="path-input"
            [value]="fullPathInput()"
            (keydown.enter)="navigateToPath(pathInput.value); pathInput.blur()"
            (blur)="isEditingPath.set(false)"
          />
        }
      </div>

      <div class="right-section">
        @if (!isMobile()) {
          <button class="nav-button" (click)="setLayout(layout() === 'grid' ? 'list' : 'grid')">
            <mat-icon [svgIcon]="layout() === 'grid' ? 'list' : 'grid'"></mat-icon>
          </button>

          <button
            class="nav-button"
            [cdkMenuTriggerFor]="viewMenu"
            [cdkMenuPosition]="[
              { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top', offsetY: 8 },
            ]"
          >
            <mat-icon svgIcon="chevron-down"></mat-icon>
          </button>
        }

        <button class="nav-button" (click)="closeOverlay.emit()">
          <mat-icon svgIcon="circle-xmark"></mat-icon>
        </button>
      </div>
    </mat-toolbar>

    @if (tabs().length > 1) {
      <div
        id="nautilus-tabs-list"
        class="tabs-bar"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="moveTab($event.previousIndex, $event.currentIndex)"
      >
        @for (t of tabs(); track t.id) {
          <div
            class="tab"
            cdkDrag
            [class.active]="activeTabIndex() === $index"
            role="button"
            tabindex="0"
            (click)="switchTab($index)"
            (mousedown)="onTabMiddleClick($event, $index)"
            [cdkContextMenuTriggerFor]="tabContextMenu"
            [cdkContextMenuTriggerData]="{ $implicit: $index }"
            (cdkContextMenuOpened)="contextTabIndex = $index"
            [matTooltip]="(t.remote ? t.remote.label + ':' : '') + t.path"
            matTooltipShowDelay="800"
          >
            <span class="tab-title">{{ t.title }}</span>
            <button
              class="close-tab"
              (click)="$event.stopPropagation(); closeTab($index)"
              [attr.aria-label]="'common.close' | translate"
            >
              <mat-icon svgIcon="close"></mat-icon>
            </button>
          </div>
        }
      </div>
    }

    <div class="nautilus-content" [class.split-view]="isSplitEnabled()">
      @if (isSplitEnabled()) {
        <div
          class="split-container"
          [style.gridTemplateColumns]="splitDividerPos() + '% 0.5rem 1fr'"
        >
          <ng-container
            [ngTemplateOutlet]="paneTemplate"
            [ngTemplateOutletContext]="{
              files: files(),
              selection: selectedItems(),
              paneIndex: 0,
              loading: isLoading(),
              error: errorState(),
            }"
          ></ng-container>

          <div class="split-divider" (mousedown)="onSplitDividerDrag($event)"></div>

          <ng-container
            [ngTemplateOutlet]="paneTemplate"
            [ngTemplateOutletContext]="{
              files: filesRight(),
              selection: selectedItemsRight(),
              paneIndex: 1,
              loading: isLoadingRight(),
              error: errorStateRight(),
            }"
          ></ng-container>
        </div>
      } @else {
        <ng-container
          [ngTemplateOutlet]="paneTemplate"
          [ngTemplateOutletContext]="{
            files: files(),
            selection: selectedItems(),
            paneIndex: 0,
            loading: isLoading(),
            error: errorState(),
          }"
        ></ng-container>
      }
    </div>

    <!-- Reusable Pane Template -->
    <ng-template
      #paneTemplate
      let-files="files"
      let-selection="selection"
      let-paneIndex="paneIndex"
      let-loading="loading"
      let-error="error"
    >
      <div
        class="pane-wrapper"
        [class.focused]="activePaneIndex() === paneIndex"
        (mousedown)="switchPane(paneIndex)"
      >
        @if (layout() === 'grid') {
          <cdk-virtual-scroll-viewport
            class="nautilus-grid"
            itemSize="48"
            (click)="clearSelection()"
            (keydown.enter)="clearSelection()"
            (keydown.space)="clearSelection()"
            tabindex="0"
            [cdkContextMenuTriggerFor]="fileMenu"
            [cdkContextMenuTriggerData]="{ $implicit: null }"
            (cdkContextMenuOpened)="setContextItem(null)"
            cdkDropList
            [cdkDropListEnterPredicate]="canAcceptFile"
            [cdkDropListHasAnchor]="true"
            [cdkDropListSortingDisabled]="true"
          >
            <div
              class="grid"
              [style.gridTemplateColumns]="'repeat(auto-fill, ' + (iconSize() + 40) + 'px)'"
            >
              @for (item of files; track trackByFile($index, item)) {
                <div
                  class="grid-item"
                  cdkDrag
                  [cdkDragData]="item"
                  (click)="onItemClick(item, $event, $index)"
                  (keydown.enter)="onItemClick(item, $event, $index)"
                  (keydown.space)="onItemClick(item, $event, $index)"
                  (dblclick)="navigateTo(item)"
                  [cdkContextMenuTriggerFor]="fileMenu"
                  [cdkContextMenuTriggerData]="{ $implicit: item }"
                  (cdkContextMenuOpened)="setContextItem(item)"
                  tabindex="0"
                  [class.selected]="selection.has(getItemKey(item))"
                  [class.unselectable]="!isItemSelectable(item.entry)"
                  [class.cut-item]="cutItemPaths().has(getItemKey(item))"
                  cdkDropList
                  [cdkDropListData]="item"
                  [cdkDropListEnterPredicate]="canDropOnFolder"
                  (cdkDropListDropped)="onDropToFolder($event, item)"
                  [class.item-drop-target]="item.entry.IsDir"
                >
                  @if (starredMode()) {
                    <mat-icon
                      class="star-button"
                      (click)="toggleStar(item); $event.stopPropagation()"
                      [svgIcon]="isStarred(item) ? 'star' : 'star-outline'"
                    ></mat-icon>
                  }
                  <div class="drag-preview" *cdkDragPreview>
                    <mat-icon [svgIcon]="iconService.getIconForEntry(item.entry)"></mat-icon>
                    <span>{{ item.entry.Name }}</span>
                    @if (selectedItems().size > 1 && selectedItems().has(getItemKey(item))) {
                      <span class="count-badge">{{ selectedItems().size }}</span>
                    }
                  </div>
                  <ng-container
                    [ngTemplateOutlet]="itemCard"
                    [ngTemplateOutletContext]="{
                      item: item,
                      isPlaceholder: false,
                      isCut: cutItemPaths().has(item.entry.Path),
                    }"
                  >
                  </ng-container>
                </div>
              }
            </div>
          </cdk-virtual-scroll-viewport>
        } @else if (layout() === 'list') {
          <cdk-virtual-scroll-viewport
            [itemSize]="listRowHeight()"
            class="nautilus-list-container"
            (click)="clearSelection()"
            (keydown.enter)="clearSelection()"
            tabindex="0"
            [cdkContextMenuTriggerFor]="fileMenu"
            (cdkContextMenuOpened)="setContextItem(null)"
            cdkDropList
            [cdkDropListEnterPredicate]="canAcceptFile"
            [cdkDropListHasAnchor]="true"
            [cdkDropListSortingDisabled]="true"
          >
            <table mat-table [dataSource]="files" class="nautilus-table">
              <ng-container matColumnDef="name">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  (click)="toggleSort('name')"
                  class="sortable-header"
                >
                  <div class="header-content">
                    {{ 'nautilus.columns.name' | translate }}
                    @if (sortKey().startsWith('name')) {
                      <mat-icon
                        [svgIcon]="sortDirection() === 'asc' ? 'chevron-up' : 'chevron-down'"
                      ></mat-icon>
                    }
                  </div>
                </th>
                <td mat-cell *matCellDef="let item">
                  <div class="cell-content name-cell">
                    <ng-container
                      [ngTemplateOutlet]="nameCellContent"
                      [ngTemplateOutletContext]="{
                        item: item,
                        rowTitle: false,
                        isCut: cutItemPaths().has(item.entry.Path),
                      }"
                    ></ng-container>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="size">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sortable-header"
                  (click)="toggleSort('size')"
                >
                  <div class="header-content right-aligned">
                    @if (sortKey().startsWith('size')) {
                      <mat-icon
                        [svgIcon]="sortDirection() === 'asc' ? 'chevron-up' : 'chevron-down'"
                      ></mat-icon>
                    }
                    {{ 'nautilus.columns.size' | translate }}
                  </div>
                </th>
                <td mat-cell *matCellDef="let item">
                  {{ item.entry.IsDir ? '--' : (item.entry.Size | formatFileSize) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="modified">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sortable-header"
                  (click)="toggleSort('modified')"
                >
                  <div class="header-content right-aligned">
                    @if (sortKey().startsWith('modified')) {
                      <mat-icon
                        [svgIcon]="sortDirection() === 'asc' ? 'chevron-up' : 'chevron-down'"
                      ></mat-icon>
                    }
                    {{ 'nautilus.columns.modified' | translate }}
                  </div>
                </th>
                <td mat-cell *matCellDef="let item">
                  {{ formatRelativeDate(item.entry.ModTime) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                  <button
                    mat-icon-button
                    class="star-button"
                    (click)="toggleStar(item); $event.stopPropagation()"
                  >
                    <mat-icon [svgIcon]="isStarred(item) ? 'star' : 'star-outline'"></mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

              <tr
                mat-row
                *matRowDef="let item; columns: displayedColumns; let i = index"
                cdkDrag
                [cdkDragData]="item"
                (click)="onItemClick(item, $event, i)"
                (keydown.enter)="onItemClick(item, $event, i)"
                (dblclick)="navigateTo(item)"
                [cdkContextMenuTriggerFor]="fileMenu"
                [cdkContextMenuTriggerData]="{ $implicit: item }"
                (cdkContextMenuOpened)="setContextItem(item)"
                [class.selected]="selection.has(getItemKey(item))"
                [class.hidden-item]="item.entry.Name.startsWith('.')"
                [class.cut-item]="cutItemPaths().has(getItemKey(item))"
                cdkDropList
                [cdkDropListData]="item"
                [cdkDropListEnterPredicate]="canDropOnFolder"
                (cdkDropListDropped)="onDropToFolder($event, item)"
                [class.item-drop-target]="item.entry.IsDir"
              >
                <div class="drag-preview" *cdkDragPreview>
                  <mat-icon [svgIcon]="iconService.getIconForEntry(item.entry)"></mat-icon>
                  <span>{{ item.entry.Name }}</span>
                  @if (selectedItems().size > 1 && selectedItems().has(getItemKey(item))) {
                    <span class="count-badge">{{ selectedItems().size }}</span>
                  }
                </div>
              </tr>
            </table>
          </cdk-virtual-scroll-viewport>
        }

        @if (error) {
          <div class="empty-folder-container">
            <mat-icon svgIcon="circle-exclamation"></mat-icon>
            <h2>{{ 'nautilus.errors.connectionFailed' | translate }}</h2>
            <p>{{ error }}</p>
            <button mat-stroked-button (click)="refresh()">{{ 'common.retry' | translate }}</button>
          </div>
        } @else if (files.length === 0 && !loading) {
          <div class="empty-folder-container">
            @if (starredMode()) {
              <mat-icon svgIcon="star"></mat-icon>
              <h2>{{ 'nautilus.empty.noStarred' | translate }}</h2>
            } @else {
              <mat-icon svgIcon="folder"></mat-icon>
              <h2>{{ 'nautilus.empty.folderEmpty' | translate }}</h2>
            }
          </div>
        }

        @if (loading) {
          <div class="loading-overlay">
            <mat-spinner diameter="24"></mat-spinner>
            <span>{{ 'common.loading' | translate }}</span>
            <button class="nav-button" (click)="cancelLoad(paneIndex)">
              <mat-icon svgIcon="close"></mat-icon>
            </button>
          </div>
        }
      </div>
    </ng-template>

    <ng-template #itemCard let-item="item" let-isPlaceholder="isPlaceholder" let-isCut="isCut">
      <mat-card
        class="folder-card"
        [class.file-card]="!item.entry.IsDir"
        [class.hidden-item]="!isPlaceholder && item.entry.Name.startsWith('.')"
      >
        <mat-card-content>
          @if (isCut) {
            <mat-icon
              class="cut-icon"
              [style.width.px]="iconSize()"
              [style.height.px]="iconSize()"
              svgIcon="scissors"
            ></mat-icon>
          } @else {
            <mat-icon
              [class.accent]="item.entry.IsDir"
              [style.width.px]="iconSize()"
              [style.height.px]="iconSize()"
              [svgIcon]="iconService.getIconForEntry(item.entry)"
            ></mat-icon>
          }
          <p class="folder-title">{{ item.entry.Name }}</p>
        </mat-card-content>
      </mat-card>
    </ng-template>

    <ng-template #nameCellContent let-item="item" let-rowTitle="rowTitle" let-isCut="isCut">
      @if (isCut) {
        <mat-icon class="cut-icon list-view" svgIcon="scissors"></mat-icon>
      } @else {
        <mat-icon
          [class.accent]="item.entry.IsDir"
          [style.width.px]="iconSize()"
          [style.height.px]="iconSize()"
          [svgIcon]="iconService.getIconForEntry(item.entry)"
        ></mat-icon>
      }
      <span [class.row-title]="rowTitle">{{ item.entry.Name }}</span>
    </ng-template>

    @if (isMobile()) {
      <div class="nautilus-bottom-bar" data-tauri-drag-region>
        <div class="nav-controls">
          <button class="nav-button" (click)="goBack()" [disabled]="!canGoBack()">
            <mat-icon svgIcon="chevron-left"></mat-icon>
          </button>
          <button class="nav-button" (click)="goForward()" [disabled]="!canGoForward()">
            <mat-icon svgIcon="chevron-right"></mat-icon>
          </button>
        </div>
        <div class="view-controls">
          <button class="nav-button" (click)="setLayout(layout() === 'grid' ? 'list' : 'grid')">
            <mat-icon [svgIcon]="layout() === 'grid' ? 'list' : 'grid'"></mat-icon>
          </button>
          <button
            class="nav-button"
            [cdkMenuTriggerFor]="viewMenu"
            [cdkMenuPosition]="[
              {
                originX: 'end',
                originY: 'top',
                overlayX: 'start',
                overlayY: 'bottom',
                offsetY: -8,
              },
            ]"
          >
            <mat-icon svgIcon="chevron-down"></mat-icon>
          </button>
        </div>
      </div>
    }

    <ng-template #fileMenu let-item>
      <div class="material-context-menu" cdkMenu>
        @if (!errorState()) {
          @if (item) {
            <button class="menu-item" cdkMenuItem (click)="openContextMenuOpen()">
              <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
            </button>
            @if (item.entry.IsDir) {
              <button class="menu-item" cdkMenuItem (click)="openContextMenuOpenInNewTab()">
                <span>{{ 'nautilus.contextMenu.openNewTab' | translate }}</span>
              </button>
              <button class="menu-item" cdkMenuItem (click)="removeEmptyDirs()">
                <span>{{ 'nautilus.contextMenu.removeEmptyDirs' | translate }}</span>
              </button>
            }
            <button class="menu-item" cdkMenuItem (click)="openContextMenuCopyPath()">
              <span>{{ 'nautilus.contextMenu.copyPath' | translate }}</span>
            </button>
            <button class="menu-item" cdkMenuItem (click)="copyItems()">
              <span>{{ 'nautilus.contextMenu.copy' | translate }}</span>
            </button>
            <button class="menu-item" cdkMenuItem (click)="cutItems()">
              <span>{{ 'nautilus.contextMenu.cut' | translate }}</span>
            </button>
            <mat-divider></mat-divider>
            <button class="menu-item" cdkMenuItem (click)="deleteSelectedItems()">
              <span>{{ 'nautilus.contextMenu.delete' | translate }}</span>
            </button>
          }
          @if (!item && !starredMode()) {
            <button class="menu-item" cdkMenuItem (click)="openContextMenuNewFolder()">
              <span>{{ 'nautilus.contextMenu.newFolder' | translate }}</span>
            </button>
            @if (hasClipboard()) {
              <button class="menu-item" cdkMenuItem (click)="pasteItems()">
                <span>{{ 'nautilus.contextMenu.paste' | translate }}</span>
              </button>
            }
            <mat-divider></mat-divider>
            <button class="menu-item" cdkMenuItem (click)="refresh()">
              <span>{{ 'nautilus.contextMenu.refresh' | translate }}</span>
            </button>
          }
        }
        @if (!errorState() && (item || !starredMode())) {
          <button class="menu-item" cdkMenuItem (click)="openPropertiesDialog('contextMenu')">
            <span>{{ 'nautilus.contextMenu.properties' | translate }}</span>
          </button>
        }
      </div>
    </ng-template>

    <ng-template #pathOptionsMenu>
      <div class="material-context-menu" cdkMenu>
        @if (!errorState()) {
          @if (!starredMode()) {
            <button class="menu-item" cdkMenuItem (click)="openContextMenuNewFolder()">
              <span>{{ 'nautilus.contextMenu.newFolder' | translate }}...</span>
            </button>
            <mat-divider></mat-divider>
            <button
              class="menu-item"
              cdkMenuItem
              (click)="pasteItems()"
              [disabled]="!hasClipboard()"
            >
              <span>{{ 'nautilus.contextMenu.paste' | translate }}</span>
            </button>
          }
        }

        <button class="menu-item" cdkMenuItem (click)="refresh()">
          <span>{{ 'nautilus.contextMenu.reload' | translate }}</span>
        </button>

        @if (!errorState()) {
          @if (!starredMode()) {
            <button class="menu-item" cdkMenuItem (click)="copyCurrentLocation()">
              <span>{{ 'nautilus.contextMenu.copyLocation' | translate }}</span>
            </button>
          }
          <mat-divider></mat-divider>

          <button
            class="menu-item"
            cdkMenuItem
            (click)="selectAll()"
            [disabled]="isPickerMode() && !pickerOptions().multi"
          >
            <span>{{ 'nautilus.contextMenu.selectAll' | translate }}</span>
          </button>

          @if (!starredMode()) {
            <mat-divider></mat-divider>

            <button
              class="menu-item"
              cdkMenuItem
              (click)="setContextItem(null); openPropertiesDialog('contextMenu')"
            >
              <span>{{ 'nautilus.contextMenu.properties' | translate }}</span>
            </button>
          }
        }
      </div>
    </ng-template>

    @if (isPickerMode()) {
      <div class="picker-actions" [class.mobile-picker]="isMobile()">
        <button mat-stroked-button (click)="onClose()">{{ 'common.cancel' | translate }}</button>
        <button
          mat-flat-button
          class="primary"
          (click)="confirmSelection()"
          [disabled]="isConfirmDisabled()"
        >
          {{ 'nautilus.contextMenu.open' | translate }}
        </button>
      </div>
    }
    @if (selectionSummary()) {
      <div class="selection-info-container">
        <span class="selection-info">{{ selectionSummary() }}</span>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #sidebarStarredMenu>
  <div class="material-context-menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (click)="selectStarred()">
      <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="openStarredInNewTab()">
      <span>{{ 'nautilus.contextMenu.openNewTab' | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #sidebarMainMenu>
  <div class="material-context-menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (click)="openShortcutsModal()">
      <span>{{ 'shortcuts.title' | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #sidebarRemoteMenu let-remote>
  <div class="material-context-menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (click)="selectRemote(remote)">
      <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="createTab(remote, '')">
      <span>{{ 'nautilus.contextMenu.openNewTab' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="openRemoteAboutFromSidebar()">
      <span>{{ 'nautilus.contextMenu.about' | translate }}</span>
    </button>
    <button
      class="menu-item"
      cdkMenuItem
      (click)="openSidebarCleanup()"
      [disabled]="!sideRemoteSupportsCleanup()"
    >
      <span>{{ 'nautilus.contextMenu.emptyTrash' | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #sidebarBookmarkMenu let-bookmark>
  <div class="material-context-menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (click)="openBookmark(bookmark)">
      <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="openPropertiesDialog('bookmark')">
      <span>{{ 'nautilus.contextMenu.properties' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="deleteContextBookmark()">
      <span>{{ 'nautilus.contextMenu.removeBookmark' | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #viewMenu>
  <div class="material-context-menu" cdkMenu>
    <div class="icon-size-control">
      <span>{{ 'nautilus.view.iconSize' | translate }}</span>
      <div class="buttons">
        <button (click)="decreaseIconSize()" [disabled]="decreaseIconDisabled()">
          <mat-icon svgIcon="remove"></mat-icon>
        </button>
        <button (click)="increaseIconSize()" [disabled]="increaseIconDisabled()">
          <mat-icon svgIcon="plus"></mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="sort-options">
      <span class="sort-label">{{ 'nautilus.sort.label' | translate }}</span>
      <mat-radio-group
        class="sort-radio-group"
        [value]="sortKey()"
        (change)="setSort($event.value)"
      >
        @for (opt of sortOptions; track trackBySortOption($index, opt)) {
          <mat-radio-button [value]="opt.key">{{ opt.label | translate }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>

    <mat-divider></mat-divider>

    <div class="menu-item-wrapper">
      <mat-checkbox [checked]="isSplitEnabled()" (change)="toggleSplit()">
        <span>{{ 'nautilus.contextMenu.toggleSplit' | translate }}</span>
      </mat-checkbox>
    </div>

    <mat-divider></mat-divider>

    <div class="menu-item-wrapper">
      <mat-checkbox [checked]="showHidden()" (change)="toggleShowHidden($event.checked)">
        <span>{{ 'nautilus.view.showHidden' | translate }}</span>
      </mat-checkbox>
    </div>
  </div>
</ng-template>

<ng-template #tabContextMenu let-tabIdx>
  <div class="material-context-menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (click)="duplicateTab(tabIdx)">
      <span>{{ 'nautilus.contextMenu.duplicateTab' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button class="menu-item" cdkMenuItem (click)="closeTab(tabIdx)">
      <span>{{ 'nautilus.contextMenu.closeTab' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="closeOtherTabs(tabIdx)">
      <span>{{ 'nautilus.contextMenu.closeOtherTabs' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="closeTabsToRight(tabIdx)">
      <span>{{ 'nautilus.contextMenu.closeTabsToRight' | translate }}</span>
    </button>
  </div>
</ng-template>
