<mat-sidenav-container class="nautilus-overlay-pane" autosize cdkDropListGroup>
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode()"
    [opened]="isSidenavOpen()"
    (openedChange)="isSidenavOpen.set($event)"
    class="nautilus-sidenav"
  >
    <app-nautilus-sidebar
      #sidebar
      [isMobile]="isMobile()"
      [nautilusRemote]="nautilusRemote()"
      [currentPath]="currentPath()"
      [starredMode]="starredMode()"
      [localDrives]="localDrives()"
      [cloudRemotes]="cloudRemotes()"
      [bookmarks]="filteredBookmarks()"
      [title]="title()"
      [cleanupSupportCache]="cleanupSupportCache()"
      [canDropOnStarred]="canDropOnStarred"
      [canDropOnBookmarks]="canDropOnBookmarks"
      [canAcceptFile]="canAcceptFile"
      (remoteSelected)="selectRemote($event)"
      (bookmarkOpened)="openBookmark($event)"
      (starredSelected)="selectStarred()"
      (toggleSearch)="toggleSearchMode()"
      (sidenavAction)="onSidebarSidenavAction($event)"
      (requestAbout)="onSidebarRequestAbout($event)"
      (requestCleanup)="onSidebarRequestCleanup($event)"
      (requestBookmarkRemoval)="removeBookmark($event)"
      (requestProperties)="onSidebarRequestProperties($event)"
      [canDropOnBookmark]="canDropOnBookmark"
      (droppedToBookmark)="onDropToBookmark($event.event, $event.target)"
      (droppedToStarred)="onDropToStarred($event)"
      (droppedToLocal)="onDropToLocal($event)"
      (droppedToRemote)="onDropToRemote($event.event, $event.target)"
    ></app-nautilus-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="nautilus-main-content">
    <app-nautilus-toolbar
      [isMobile]="isMobile()"
      [canGoBack]="canGoBack()"
      [canGoForward]="canGoForward()"
      [isSearchMode]="isSearchMode()"
      [searchFilter]="searchFilter()"
      [isEditingPath]="isEditingPath()"
      [starredMode]="starredMode()"
      [activeRemote]="activeRemote()"
      [pathSegments]="pathSegments()"
      [isDragging]="isDragging()"
      [hoveredSegmentIndex]="hoveredSegmentIndex()"
      [fullPathInput]="fullPathInput()"
      [layout]="layout()"
      [pathOptionsMenu]="pathOptionsMenu"
      [viewMenu]="viewMenu"
      (goBack)="goBack()"
      (goForward)="goForward()"
      (toggleSidebar)="sidenav.toggle()"
      (navigateToSegment)="navigateToSegment($event)"
      (updatePath)="updatePath($event)"
      (navigateToPath)="navigateToPath($event)"
      (layoutChange)="setLayout($event)"
      (closeOverlay)="closeOverlay.emit()"
      (searchFilterChange)="searchFilter.set($event)"
      (isSearchModeChange)="isSearchMode.set($event)"
      (isEditingPathChange)="isEditingPath.set($event)"
    ></app-nautilus-toolbar>

    @if (tabs().length > 1) {
      <app-nautilus-tabs
        [tabs]="tabs()"
        [activeTabIndex]="activeTabIndex()"
        (switchTab)="switchTab($event)"
        (closeTab)="closeTab($event)"
        (moveTab)="moveTab($event.previousIndex, $event.currentIndex)"
        (duplicateTab)="duplicateTab($event)"
        (closeOtherTabs)="closeOtherTabs($event)"
        (closeTabsToRight)="closeTabsToRight($event)"
      ></app-nautilus-tabs>
    }

    <div class="nautilus-content" [class.split-view]="isSplitEnabled()">
      @if (isSplitEnabled()) {
        <div
          class="split-container"
          [style.gridTemplateColumns]="splitDividerPos() + '% 0.5rem 1fr'"
        >
          <app-nautilus-view-pane
            [files]="files()"
            [selection]="selectedItems()"
            [paneIndex]="0"
            [isSplitEnabled]="isSplitEnabled()"
            [loading]="isLoading()"
            [error]="errorState()"
            [layout]="layout()"
            [iconSize]="iconSize()"
            [listRowHeight]="listRowHeight()"
            [isDragging]="isDragging()"
            [hoveredFolder]="hoveredFolder()"
            [cutItemPaths]="cutItemPaths()"
            [starredMode]="starredMode()"
            [sortKey]="sortKey()"
            [sortDirection]="sortDirection()"
            [activePaneIndex]="activePaneIndex()"
            [getItemKey]="boundGetItemKey"
            [isItemSelectable]="boundIsItemSelectable"
            [trackByFile]="boundTrackByFile"
            [trackBySortOption]="boundTrackBySortOption"
            [formatRelativeDate]="boundFormatRelativeDate"
            [canAcceptFile]="canAcceptFile"
            [fileMenu]="fileMenu"
            (switchPane)="switchPane($event)"
            (clearSelection)="clearSelection()"
            (setContextItem)="setContextItem($event)"
            (onDropToCurrentDirectory)="onDropToCurrentDirectory($event.event, $event.paneIndex)"
            (onDragStarted)="onDragStarted($event)"
            (onDragEnded)="onDragEnded()"
            (onItemClick)="onItemClick($event.item, $event.event, $event.index)"
            (navigateTo)="navigateTo($event)"
            (toggleStar)="toggleStar($event)"
            (toggleSort)="toggleSort($event)"
            (refresh)="refresh()"
            (cancelLoad)="cancelLoad($event)"
          ></app-nautilus-view-pane>

          <div class="split-divider" (mousedown)="onSplitDividerDrag($event)"></div>

          <app-nautilus-view-pane
            [files]="filesRight()"
            [selection]="selectedItemsRight()"
            [paneIndex]="1"
            [isSplitEnabled]="isSplitEnabled()"
            [loading]="isLoadingRight()"
            [error]="errorStateRight()"
            [layout]="layout()"
            [iconSize]="iconSize()"
            [listRowHeight]="listRowHeight()"
            [isDragging]="isDragging()"
            [hoveredFolder]="hoveredFolder()"
            [cutItemPaths]="cutItemPaths()"
            [starredMode]="starredMode()"
            [sortKey]="sortKey()"
            [sortDirection]="sortDirection()"
            [activePaneIndex]="activePaneIndex()"
            [getItemKey]="boundGetItemKey"
            [isItemSelectable]="boundIsItemSelectable"
            [trackByFile]="boundTrackByFile"
            [trackBySortOption]="boundTrackBySortOption"
            [formatRelativeDate]="boundFormatRelativeDate"
            [canAcceptFile]="canAcceptFile"
            [fileMenu]="fileMenu"
            (switchPane)="switchPane($event)"
            (clearSelection)="clearSelection()"
            (setContextItem)="setContextItem($event)"
            (onDropToCurrentDirectory)="onDropToCurrentDirectory($event.event, $event.paneIndex)"
            (onDragStarted)="onDragStarted($event)"
            (onDragEnded)="onDragEnded()"
            (onItemClick)="onItemClick($event.item, $event.event, $event.index)"
            (navigateTo)="navigateTo($event)"
            (toggleStar)="toggleStar($event)"
            (toggleSort)="toggleSort($event)"
            (refresh)="refresh()"
            (cancelLoad)="cancelLoad($event)"
          ></app-nautilus-view-pane>
        </div>
      } @else {
        <app-nautilus-view-pane
          [files]="files()"
          [selection]="selectedItems()"
          [paneIndex]="0"
          [isSplitEnabled]="isSplitEnabled()"
          [loading]="isLoading()"
          [error]="errorState()"
          [layout]="layout()"
          [iconSize]="iconSize()"
          [listRowHeight]="listRowHeight()"
          [isDragging]="isDragging()"
          [hoveredFolder]="hoveredFolder()"
          [cutItemPaths]="cutItemPaths()"
          [starredMode]="starredMode()"
          [sortKey]="sortKey()"
          [sortDirection]="sortDirection()"
          [activePaneIndex]="activePaneIndex()"
          [getItemKey]="boundGetItemKey"
          [isItemSelectable]="boundIsItemSelectable"
          [trackByFile]="boundTrackByFile"
          [trackBySortOption]="boundTrackBySortOption"
          [formatRelativeDate]="boundFormatRelativeDate"
          [canAcceptFile]="canAcceptFile"
          [fileMenu]="fileMenu"
          (switchPane)="switchPane($event)"
          (clearSelection)="clearSelection()"
          (setContextItem)="setContextItem($event)"
          (onDropToCurrentDirectory)="onDropToCurrentDirectory($event.event, $event.paneIndex)"
          (onDragStarted)="onDragStarted($event)"
          (onDragEnded)="onDragEnded()"
          (onItemClick)="onItemClick($event.item, $event.event, $event.index)"
          (navigateTo)="navigateTo($event)"
          (toggleStar)="toggleStar($event)"
          (toggleSort)="toggleSort($event)"
          (refresh)="refresh()"
          (cancelLoad)="cancelLoad($event)"
        ></app-nautilus-view-pane>
      }
    </div>

    @if (isMobile()) {
      <app-nautilus-bottom-bar
        [canGoBack]="canGoBack()"
        [canGoForward]="canGoForward()"
        [layout]="layout()"
        [viewMenu]="viewMenu"
        (goBack)="goBack()"
        (goForward)="goForward()"
        (setLayout)="setLayout($event)"
      ></app-nautilus-bottom-bar>
    }

    <ng-template #fileMenu let-item>
      <div class="material-context-menu" cdkMenu>
        @if (!errorState()) {
          @if (item) {
            <button class="menu-item" cdkMenuItem (click)="openContextMenuOpen()">
              <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
            </button>
            @if (item.entry.IsDir) {
              <button class="menu-item" cdkMenuItem (click)="openContextMenuOpenInNewTab()">
                <span>{{ 'nautilus.contextMenu.openNewTab' | translate }}</span>
              </button>
              <button class="menu-item" cdkMenuItem (click)="removeEmptyDirs()">
                <span>{{ 'nautilus.contextMenu.removeEmptyDirs' | translate }}</span>
              </button>
            }
            <button class="menu-item" cdkMenuItem (click)="openContextMenuCopyPath()">
              <span>{{ 'nautilus.contextMenu.copyPath' | translate }}</span>
            </button>
            <button class="menu-item" cdkMenuItem (click)="copyItems()">
              <span>{{ 'nautilus.contextMenu.copy' | translate }}</span>
            </button>
            <button class="menu-item" cdkMenuItem (click)="cutItems()">
              <span>{{ 'nautilus.contextMenu.cut' | translate }}</span>
            </button>
            <mat-divider></mat-divider>
            <button class="menu-item" cdkMenuItem (click)="deleteSelectedItems()">
              <span>{{ 'nautilus.contextMenu.delete' | translate }}</span>
            </button>
          }
          @if (!item && !starredMode()) {
            <button class="menu-item" cdkMenuItem (click)="openContextMenuNewFolder()">
              <span>{{ 'nautilus.contextMenu.newFolder' | translate }}</span>
            </button>
            @if (hasClipboard()) {
              <button class="menu-item" cdkMenuItem (click)="pasteItems()">
                <span>{{ 'nautilus.contextMenu.paste' | translate }}</span>
              </button>
            }
            <mat-divider></mat-divider>
            <button class="menu-item" cdkMenuItem (click)="refresh()">
              <span>{{ 'nautilus.contextMenu.refresh' | translate }}</span>
            </button>
          }
        }
        @if (!errorState() && (item || !starredMode())) {
          <button class="menu-item" cdkMenuItem (click)="openPropertiesDialog('contextMenu')">
            <span>{{ 'nautilus.contextMenu.properties' | translate }}</span>
          </button>
        }
      </div>
    </ng-template>

    <ng-template #pathOptionsMenu>
      <div class="material-context-menu" cdkMenu>
        @if (!errorState()) {
          @if (!starredMode()) {
            <button class="menu-item" cdkMenuItem (click)="openContextMenuNewFolder()">
              <span>{{ 'nautilus.contextMenu.newFolder' | translate }}...</span>
            </button>
            <mat-divider></mat-divider>
            <button
              class="menu-item"
              cdkMenuItem
              (click)="pasteItems()"
              [disabled]="!hasClipboard()"
            >
              <span>{{ 'nautilus.contextMenu.paste' | translate }}</span>
            </button>
          }
        }

        <button class="menu-item" cdkMenuItem (click)="refresh()">
          <span>{{ 'nautilus.contextMenu.reload' | translate }}</span>
        </button>

        @if (!errorState()) {
          @if (!starredMode()) {
            <button class="menu-item" cdkMenuItem (click)="copyCurrentLocation()">
              <span>{{ 'nautilus.contextMenu.copyLocation' | translate }}</span>
            </button>
          }
          <mat-divider></mat-divider>

          <button
            class="menu-item"
            cdkMenuItem
            (click)="selectAll()"
            [disabled]="isPickerMode() && !pickerOptions().multi"
          >
            <span>{{ 'nautilus.contextMenu.selectAll' | translate }}</span>
          </button>

          @if (!starredMode()) {
            <mat-divider></mat-divider>

            <button
              class="menu-item"
              cdkMenuItem
              (click)="setContextItem(null); openPropertiesDialog('contextMenu')"
            >
              <span>{{ 'nautilus.contextMenu.properties' | translate }}</span>
            </button>
          }
        }
      </div>
    </ng-template>

    @if (isPickerMode()) {
      <div class="picker-actions" [class.mobile-picker]="isMobile()">
        <button mat-stroked-button (click)="onClose()">{{ 'common.cancel' | translate }}</button>
        <button
          mat-flat-button
          class="primary"
          (click)="confirmSelection()"
          [disabled]="isConfirmDisabled()"
        >
          {{ 'nautilus.contextMenu.open' | translate }}
        </button>
      </div>
    }
    @if (selectionSummary()) {
      <div class="selection-info-container">
        <span class="selection-info">{{ selectionSummary() }}</span>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #viewMenu>
  <div class="material-context-menu" cdkMenu>
    <div class="icon-size-control">
      <span>{{ 'nautilus.view.iconSize' | translate }}</span>
      <div class="buttons">
        <button (click)="decreaseIconSize()" [disabled]="decreaseIconDisabled()">
          <mat-icon svgIcon="remove"></mat-icon>
        </button>
        <button (click)="increaseIconSize()" [disabled]="increaseIconDisabled()">
          <mat-icon svgIcon="plus"></mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="sort-options">
      <span class="sort-label">{{ 'nautilus.sort.label' | translate }}</span>
      <mat-radio-group
        class="sort-radio-group"
        [value]="sortKey()"
        (change)="setSort($event.value)"
      >
        @for (opt of sortOptions; track trackBySortOption($index, opt)) {
          <mat-radio-button [value]="opt.key">{{ opt.label | translate }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>

    <mat-divider></mat-divider>

    <div class="menu-item-wrapper">
      <mat-checkbox [checked]="isSplitEnabled()" (change)="toggleSplit()">
        <span>{{ 'nautilus.contextMenu.toggleSplit' | translate }}</span>
      </mat-checkbox>
    </div>

    <mat-divider></mat-divider>

    <div class="menu-item-wrapper">
      <mat-checkbox [checked]="showHidden()" (change)="toggleShowHidden($event.checked)">
        <span>{{ 'nautilus.view.showHidden' | translate }}</span>
      </mat-checkbox>
    </div>
  </div>
</ng-template>
