@use "../../../styles/_shared_components";

mat-card {
  &.active {
    mat-card-header {
      &.sync {
        background-color: rgba(var(--primary-color-rgb), var(--background-opacity));
      }
      &.mount {
        background-color: rgba(var(--accent-color-rgb), var(--background-opacity));
      }

      &.copy {
        background-color: rgba(var(--yellow-rgb), var(--background-opacity));
      }

      &.move {
        background-color: rgba(var(--orange-rgb), var(--background-opacity));
      }

      &.bisync {
        background-color: rgba(var(--purple-rgb), var(--background-opacity));
      }
    }
  }
}

@media (max-width: 768px) {
  mat-card-actions {
    gap: var(--space-sm);
    flex-direction: column;
  }
}
