.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--titlebar-height);
  color: var(--window-fg-color);
  padding: 4px var(--title-bar-padding);

  .left-section {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
  }

  .right-section {
    display: flex;
    gap: var(--space-xxs);
  }
}
.shortcut {
  margin-left: auto;
  opacity: 0.6;
}

.theme-selector {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  padding: var(--space-xs);
}
.theme-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--window-fg-color);
  display: flex;
  align-items: end;
  position: relative;
  justify-content: left;
  background: transparent;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--border-color);
    transition: all 200ms ease-in-out;
    z-index: 0;
  }

  .checkmark {
    width: 20px;
    opacity: 1;
    height: 20px;
    background: var(--gnome-light-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -8px;
    color: var(--gnome-blue-3);
    position: relative;
    z-index: 1;
  }
}
.light::before {
  background: var(--gnome-light-1);
}

.dark::before {
  background: var(--gnome-dark-5);
}

.system::before {
  background: linear-gradient(315deg, var(--gnome-dark-5) 49.5%, var(--gnome-light-1) 50.5%);
}

.selected::before {
  box-shadow: 0 0 0 2px var(--accent-color);
}
