.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--titlebar-height);
  color: var(--window-fg-color);
  padding: 4px var(--title-bar-padding);

  .left-section {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
  }

  .right-section {
    display: flex;
    gap: var(--space-xxs);
  }
}
.shortcut {
  margin-left: auto;
  opacity: 0.6;
}

.theme-selector {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  padding: var(--space-xs);
}
.theme-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 2px solid var(--border-color);
  color: var(--window-fg-color);
  display: flex;
  align-items: end;
  position: relative;
  justify-content: left;
  transition: all 200ms ease-in-out;

  .checkmark {
    width: 20px;
    height: 20px;
    background: var(--gnome-light-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -8px;
    color: var(--gnome-blue-3);
  }
}
.light {
  background: var(--gnome-light-1);
}

.dark {
  background: var(--gnome-dark-5);
}

.system {
  background: linear-gradient(45deg, var(--gnome-dark-5) 50%, var(--gnome-light-1) 50%);
}

.selected {
  border-color: var(--accent-color) !important;
}
