.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--titlebar-height);
  color: var(--app-text-color);
  padding: 4px var(--title-bar-padding);

  .left-section {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
  }

  .right-section {
    display: flex;
    gap: var(--space-xxs);
  }
}
.shortcut {
  margin-left: auto;
  opacity: 0.6;
}

.theme-selector {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  padding: var(--space-xs);
}
.theme-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--theme-border);
  color: var(--app-text-color);
  display: flex;
  align-items: end;
  position: relative;
  justify-content: left;
  transition: all 200ms ease-in-out;

  .checkmark {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -8px;
    color: var(--accent-color);
  }
}
.light {
  background: var(--light-theme-color);
}

.dark {
  background: var(--dark-theme-color);
}

.system {
  background: linear-gradient(45deg, black 50%, white 50%);

  // Tauri does not support system theme detection yet
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--disabled-fade);
    border-radius: inherit;
    z-index: 1;
  }
}

.selected {
  border-color: var(--accent-color) !important;
}
