:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--view-bg-color);
}

app-app-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.ellipsis-button {
  position: absolute;
  top: 10px;
  right: 20px;
}
