<div class="tabs-container">
  <div
    class="tabs-scroll-container hide-scrollbar"
    #tabsScrollContainer
    [class.show-left-shadow]="_showLeftShadow()"
    [class.show-right-shadow]="_showRightShadow()"
    (scroll)="onScroll()"
    (wheel)="onWheelScroll($event)"
  >
    <div class="tabs-bar" cdkDropList (cdkDropListDropped)="onDrop($event)">
      @for (t of tabs(); track t.id) {
        <div
          class="tab"
          cdkDrag
          [attr.data-tab-index]="$index"
          [class.active]="activeTabIndex() === $index"
          [class.file-drag-over]="isDragging() && hoveredTabIndex() === $index"
          role="button"
          tabindex="0"
          (click)="onTabClick($index)"
          (keydown.enter)="onTabClick($index)"
          (keydown.space)="$event.preventDefault(); onTabClick($index)"
          (mousedown)="onTabMiddleClick($event, $index)"
          [cdkContextMenuTriggerFor]="tabContextMenu"
          [cdkContextMenuTriggerData]="{ $implicit: $index }"
          [matTooltip]="(t.remote ? (t.remote.label | translate) + ':' : '') + t.path"
          matTooltipShowDelay="800"
        >
          <span class="tab-title">{{ t.title | translate }}</span>
          <button
            class="close-tab"
            (click)="onCloseTab($event, $index)"
            [attr.aria-label]="'common.close' | translate"
          >
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #tabContextMenu let-tabIdx>
  <div class="material-context-menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (click)="duplicateTab.emit(tabIdx)">
      <span>{{ 'nautilus.contextMenu.duplicateTab' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button class="menu-item" cdkMenuItem (click)="closeTab.emit(tabIdx)">
      <span>{{ 'nautilus.contextMenu.closeTab' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="closeOtherTabs.emit(tabIdx)">
      <span>{{ 'nautilus.contextMenu.closeOtherTabs' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="closeTabsToRight.emit(tabIdx)">
      <span>{{ 'nautilus.contextMenu.closeTabsToRight' | translate }}</span>
    </button>
  </div>
</ng-template>
