<!-- Custom Right-Click Menu -->
<!-- <div id="custom-menu" class="menu" (mouseleave)="hideMenu()">
<ul>
  <li (click)="onOptionClick('Option 1')">Option 1</li>
  <li (click)="onOptionClick('Option 2')">Option 2</li>
  <li (click)="onOptionClick('Option 3')">Option 3</li>
</ul>
</div> -->

<!-- Main Layout -->
<div class="app-wrapper">
  <router-outlet></router-outlet>
  <app-titlebar class="title-bar"></app-titlebar>
  <mat-toolbar [@slideToggle]="isMeteredConnection ? 'visible' : 'hidden'" class="metered-banner" role="alert">
    You are on a metered connection. Some features may use extra data.
  </mat-toolbar>
  @if (!completedOnboarding) {
    <app-onboarding class="onboarding" (completed)="finishOnboarding()">
    </app-onboarding>
  }
  <app-home appRightClick></app-home> <!-- Enable Right-Click on Home -->
  @if (isMobile$ | async) {
    <div class="mobile-tab-bar">
      <app-tabs-buttons></app-tabs-buttons>
    </div>
  }
</div>