<div class="app-wrapper">
  @if (!initializing()) {
    @if (modalService.isDialogStandalone()) {
      <ng-container
        *ngComponentOutlet="modalService.dialogComponent(); injector: modalService.dialogInjector"
      ></ng-container>
    } @else if (nautilusService.isStandaloneWindow()) {
      @defer {
        <app-nautilus></app-nautilus>
      }
    } @else if (!completedOnboarding()) {
      @defer {
        <app-onboarding (completed)="finishOnboarding()"></app-onboarding>
      }
    } @else {
      @defer {
        <ng-container appShortcutHandler>
          <app-titlebar data-tauri-drag-region></app-titlebar>
          <app-banner></app-banner>
          <app-home></app-home>
          <app-tabs data-tauri-drag-region></app-tabs>
        </ng-container>
      }
    }
  }
  @if (isTauri && platform === 'linux' && !isMaximized()) {
    <div class="resize-handle n" (mousedown)="onResizeHandleMousedown($event, 'North')"></div>
    <div class="resize-handle s" (mousedown)="onResizeHandleMousedown($event, 'South')"></div>
    <div class="resize-handle e" (mousedown)="onResizeHandleMousedown($event, 'East')"></div>
    <div class="resize-handle w" (mousedown)="onResizeHandleMousedown($event, 'West')"></div>
    <div class="resize-handle nw" (mousedown)="onResizeHandleMousedown($event, 'NorthWest')"></div>
    <div class="resize-handle ne" (mousedown)="onResizeHandleMousedown($event, 'NorthEast')"></div>
    <div class="resize-handle sw" (mousedown)="onResizeHandleMousedown($event, 'SouthWest')"></div>
    <div class="resize-handle se" (mousedown)="onResizeHandleMousedown($event, 'SouthEast')"></div>
  }
</div>
