.title-bar {
  position: relative;
}

.metered-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--banner-background);
  mat-icon {
    margin-right: 8px;
  }
}

.onboarding {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: var(--title-bar-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mobile-tab-bar {
  border-radius: 0 0 var(--tab-bar-bottom-radius, 0)
    var(--tab-bar-bottom-radius, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--app-background);
  color: var(--app-text-color);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 6px;
}
