<div class="app-wrapper" appShortcutHandler>
  @if (!initializing()) {
    @if (!vaultService.isStatusKnown()) {
      <div class="empty-state">
        <mat-icon svgIcon="shield-halved"></mat-icon>
        <span>{{ 'backendErrors.remote.networkError' | translate }}</span>
        <button matButton="filled" class="accent" type="button" (click)="retryInit()">
          {{ 'common.retry' | translate }}
        </button>
      </div>
    } @else if (vaultService.isVaultLocked()) {
      <app-vault-lock-screen></app-vault-lock-screen>
    } @else if (modalService.isDialogStandalone()) {
      <ng-container
        *ngComponentOutlet="modalService.dialogComponent(); injector: modalService.dialogInjector"
      ></ng-container>
    } @else if (
      !completedOnboarding() &&
      !nautilusService.isStandaloneWindow() &&
      !flowOverlayService.isStandaloneWindow() &&
      !mainUiOverlayService.isStandaloneWindow()
    ) {
      @defer (on immediate) {
        <app-onboarding (completed)="finishOnboarding()"></app-onboarding>
      }
    } @else if (selectedMainView() === 'nautilus') {
      @defer (on immediate) {
        <app-nautilus></app-nautilus>
      }
    } @else if (selectedMainView() === 'flow') {
      @defer (on immediate) {
        <app-flow-container></app-flow-container>
      }
    } @else {
      @defer (on immediate) {
        <app-main-ui-container></app-main-ui-container>
      }
    }
  }
</div>
