<mat-sidenav-container
  class="nautilus-overlay-pane"
  autosize
  [style.--bottom-bar-offset]="bottomBarOffset()"
  (dragover)="onDragOver($event)"
  (dragenter)="onContainerDragEnter($event)"
  (dragleave)="onContainerDragLeave($event)"
  (drop)="onContainerDrop($event)"
>
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode()"
    [opened]="isSidenavOpen()"
    (openedChange)="isSidenavOpen.set($event)"
    class="nautilus-sidenav"
  >
    <app-nautilus-sidebar
      #sidebar
      [isMobile]="isMobile()"
      [nautilusRemote]="tabSvc.nautilusRemote()"
      [currentPath]="tabSvc.currentPath()"
      [starredMode]="tabSvc.activeStarredMode()"
      [localDrives]="localDrives()"
      [cloudRemotes]="cloudRemotes()"
      [bookmarks]="filteredBookmarks()"
      [title]="title()"
      [isPickerMode]="isPickerMode()"
      [hoveredSidebarItem]="dragDrop.hoveredSidebarItem()"
      [isDragging]="dragDrop.isDragging()"
      (remoteSelected)="selectRemote($event)"
      (bookmarkOpened)="openBookmark($event)"
      (starredSelected)="selectStarred()"
      (toggleSearch)="toggleSearchMode()"
      (requestShortcuts)="actions.openShortcutsModal()"
      (sidenavAction)="onSidebarSidenavAction($event)"
      (requestAbout)="actions.openAboutModal($event)"
      (requestCleanup)="actions.confirmAndCleanup($event)"
      (remoteOpenedInNewTab)="tabSvc.createTab($event, '')"
      (remoteOpenedInNewWindow)="nautilusService.newNautilusWindow($event.name, '')"
      (bookmarkOpenedInNewTab)="actions.openBookmarkInNewTab($event)"
      (bookmarkOpenedInNewWindow)="actions.openBookmarkInNewWindow($event)"
      (requestBookmarkRemoval)="nautilusService.toggleItem('bookmarks', $event)"
      (requestProperties)="actions.openPropertiesDialog('bookmark', $event)"
      (droppedToBookmark)="onDropToBookmark($event.event, $event.target)"
      (droppedToStarred)="onDropToStarred($event)"
      (droppedToLocal)="onDropToLocal($event)"
      (droppedToRemote)="onDropToRemote($event.event, $event.target)"
    ></app-nautilus-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="nautilus-main-content">
    <app-nautilus-toolbar
      data-tauri-drag-region
      [isMobile]="isMobile()"
      [canGoBack]="tabSvc.canGoBack()"
      [canGoForward]="tabSvc.canGoForward()"
      [isSearchMode]="isSearchMode()"
      [searchFilter]="searchFilter()"
      [isEditingPath]="isEditingPath()"
      [starredMode]="tabSvc.activeStarredMode()"
      [activeRemote]="tabSvc.activeRemote()"
      [pathSegments]="pathSegments()"
      [isDragging]="dragDrop.isDragging()"
      [hoveredSegmentIndex]="dragDrop.hoveredSegmentIndex()"
      [fullPathInput]="fullPathInput()"
      [layout]="settings.layout()"
      [pathOptionsMenu]="contextMenu.pathOptionsMenuTemplate"
      [viewMenu]="viewMenu"
      (goBack)="tabSvc.goBack()"
      (goForward)="tabSvc.goForward()"
      (navigateToSegment)="navigateToSegment($event)"
      (updatePath)="updatePath($event)"
      (navigateToPath)="navigateToPath($event)"
      (layoutChange)="settings.setLayout($event)"
      (closeOverlay)="closeOverlay.emit(null)"
      (copyUrl)="actions.openCopyUrlDialog()"
      (searchFilterChange)="searchFilter.set($event)"
      (isSearchModeChange)="isSearchMode.set($event)"
      (isEditingPathChange)="isEditingPath.set($event)"
      (droppedOnSegment)="onDropToSegment($event.event, $event.segmentIndex)"
    ></app-nautilus-toolbar>

    @if (tabSvc.tabs().length > 1 && !isPickerMode()) {
      <app-nautilus-tabs
        [tabs]="tabSvc.mappedTabs()"
        [activeTabIndex]="tabSvc.activeTabIndex()"
        [isDragging]="dragDrop.isDragging()"
        [hoveredTabIndex]="dragDrop.hoveredTabIndex()"
        (switchTab)="tabSvc.switchTab($event)"
        (closeTab)="tabSvc.closeTab($event)"
        (moveTab)="tabSvc.moveTab($event.previousIndex, $event.currentIndex)"
        (duplicateTab)="tabSvc.duplicateTab($event)"
        (closeOtherTabs)="tabSvc.closeOtherTabs($event)"
        (closeTabsToRight)="tabSvc.closeTabsToRight($event)"
      ></app-nautilus-tabs>
    }

    <div class="nautilus-content" [style.gridTemplateColumns]="tabSvc.splitGridColumns()">
      @for (pane of visiblePanes(); track pane.index) {
        @if (!$first) {
          <div class="split-divider" (mousedown)="onSplitDividerDrag($event)"></div>
        }
        <app-nautilus-view-pane
          [files]="pane.files"
          [selection]="pane.selection"
          [paneIndex]="pane.index"
          [isSplitEnabled]="tabSvc.isSplitEnabled()"
          [loading]="pane.loading"
          [error]="pane.error"
          [layout]="settings.layout()"
          [iconSize]="settings.iconSize()"
          [listRowHeight]="settings.listRowHeight()"
          [isDragging]="dragDrop.isDragging()"
          [hoveredFolder]="dragDrop.hoveredFolder()"
          [hoveredFolderPaneIndex]="dragDrop.hoveredFolderPaneIndex()"
          [cutItemPaths]="fileOps.cutItemPaths()"
          [starredMode]="pane.starredMode"
          [sortKey]="settings.sortKey()"
          [sortDirection]="settings.sortDirection()"
          [activePaneIndex]="tabSvc.activePaneIndex()"
          [isItemSelectable]="isItemSelectable"
          [isMultiSelectEnabled]="!isPickerMode() || !!pickerOptions().multi"
          [isMobile]="isMobile()"
          [fileMenu]="contextMenu.fileMenuTemplate"
          (switchPane)="tabSvc.switchPane($event)"
          (clearSelection)="selectionSvc.clearSelection(pane.index)"
          (setContextItem)="setContextItem($event, pane.index)"
          (dropToCurrentDirectory)="onDropToCurrentDirectory($event.event, $event.paneIndex)"
          (dragStarted)="onDragStarted($event.event, $event.item)"
          (dragEnded)="onDragEnded()"
          (itemClick)="onItemClick($event.item, $event.event, $event.index, pane.index)"
          (navigateTo)="navigateTo($event)"
          (toggleStar)="nautilusService.toggleItem('starred', $event)"
          (toggleSort)="settings.toggleSort($event)"
          (refresh)="tabSvc.refresh(tabSvc.activePaneIndex())"
          (cancelLoad)="cancelLoad($event)"
          (updateSelection)="onUpdateSelection($event, pane.index)"
        ></app-nautilus-view-pane>
      }
    </div>

    @if (isMobile()) {
      <app-nautilus-bottom-bar
        [layout]="settings.layout()"
        [viewMenu]="viewMenu"
        [isPickerMode]="isPickerMode()"
        [isConfirmDisabled]="isConfirmDisabled()"
        (setLayout)="settings.setLayout($event)"
        (confirmSelection)="confirmSelection()"
        (toggleSidebar)="sidenav.toggle()"
      ></app-nautilus-bottom-bar>
    }

    <app-nautilus-context-menu
      #contextMenu
      [files]="files()"
      [filesRight]="filesRight()"
      [isPickerMode]="isPickerMode()"
      [pickerOptions]="pickerOptions()"
      [isCurrentPathRegistered]="isCurrentPathRegistered()"
      (navigateTo)="navigateTo($event)"
      (uploadFiles)="uploadFiles()"
      (uploadFolder)="uploadFolder()"
      (pasteItems)="pasteItems()"
      (selectAll)="selectAll()"
      (toggleSendTo)="toggleSendToRegistration()"
    />

    @if (isPickerMode() && !isMobile()) {
      <div class="picker-actions desktop-picker">
        <button
          mat-flat-button
          class="accent"
          (click)="confirmSelection()"
          [disabled]="isConfirmDisabled()"
        >
          {{ 'nautilus.contextMenu.open' | translate }}
        </button>
      </div>
    }

    @if (selectionSummary()) {
      <div class="selection-info-container">
        <span class="selection-info">{{ selectionSummary() }}</span>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #viewMenu>
  <div class="material-context-menu" cdkMenu>
    <div class="icon-size-control">
      <span class="control-label">{{ 'nautilus.view.iconSize' | translate }}</span>
      <div class="control-buttons">
        <button
          class="icon-button"
          (click)="settings.decreaseIconSize(); $event.stopPropagation()"
          [disabled]="settings.decreaseIconDisabled()"
        >
          <mat-icon svgIcon="remove"></mat-icon>
        </button>
        <button
          class="icon-button"
          (click)="settings.increaseIconSize(); $event.stopPropagation()"
          [disabled]="settings.increaseIconDisabled()"
        >
          <mat-icon svgIcon="plus"></mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="menu-section-label">{{ 'nautilus.sort.label' | translate }}</div>
    @for (opt of sortOptions; track opt.key) {
      <button
        class="menu-item"
        cdkMenuItemRadio
        [cdkMenuItemChecked]="settings.sortKey() === opt.key"
        (cdkMenuItemTriggered)="settings.setSort(opt.key)"
      >
        <span class="item-label">{{ opt.label | translate }}</span>
        @if (settings.sortKey() === opt.key) {
          <mat-icon svgIcon="circle-check" class="selection-icon"></mat-icon>
        }
      </button>
    }

    <mat-divider></mat-divider>

    <button
      class="menu-item"
      cdkMenuItemCheckbox
      [cdkMenuItemChecked]="tabSvc.isSplitEnabled()"
      (cdkMenuItemTriggered)="tabSvc.toggleSplit()"
    >
      <span class="item-label">{{ 'nautilus.contextMenu.toggleSplit' | translate }}</span>
      @if (tabSvc.isSplitEnabled()) {
        <mat-icon svgIcon="circle-check" class="selection-icon"></mat-icon>
      }
    </button>

    <button
      class="menu-item"
      cdkMenuItemCheckbox
      [cdkMenuItemChecked]="settings.showHidden()"
      (cdkMenuItemTriggered)="settings.toggleShowHidden(!settings.showHidden())"
    >
      <span class="item-label">{{ 'nautilus.view.showHidden' | translate }}</span>
      @if (settings.showHidden()) {
        <mat-icon svgIcon="circle-check" class="selection-icon"></mat-icon>
      }
    </button>
  </div>
</ng-template>

<!-- Hidden inputs for headless uploads -->
<input
  #fileUploadInput
  type="file"
  multiple
  style="display: none"
  (change)="onWebUploadFiles($event)"
/>
<input
  #folderUploadInput
  type="file"
  webkitdirectory
  directory
  style="display: none"
  (change)="onWebUploadFolder($event)"
/>
