<mat-sidenav-container
  class="nautilus-overlay-pane"
  autosize
  [style.--bottom-bar-offset]="bottomBarOffset()"
  (dragover)="onDragOver($event)"
  (dragenter)="onContainerDragEnter($event)"
  (dragleave)="onContainerDragLeave($event)"
  (drop)="onContainerDrop($event)"
>
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode()"
    [opened]="isSidenavOpen()"
    (openedChange)="isSidenavOpen.set($event)"
    class="nautilus-sidenav"
  >
    <app-nautilus-sidebar
      #sidebar
      [isMobile]="isMobile()"
      [nautilusRemote]="tabSvc.nautilusRemote()"
      [currentPath]="tabSvc.currentPath()"
      [starredMode]="tabSvc.activeStarredMode()"
      [localDrives]="localDrives()"
      [cloudRemotes]="cloudRemotes()"
      [bookmarks]="filteredBookmarks()"
      [title]="title()"
      [isPickerMode]="isPickerMode()"
      [hoveredSidebarItem]="dragDrop.hoveredSidebarItem()"
      [isDragging]="dragDrop.isDragging()"
      (remoteSelected)="selectRemote($event)"
      (bookmarkOpened)="openBookmark($event)"
      (starredSelected)="selectStarred()"
      (toggleSearch)="toggleSearchMode()"
      (requestShortcuts)="actions.openShortcutsModal()"
      (sidenavAction)="onSidebarSidenavAction($event)"
      (requestAbout)="actions.openAboutModal($event)"
      (requestCleanup)="actions.confirmAndCleanup($event)"
      (remoteOpenedInNewTab)="tabSvc.createTab($event, '')"
      (remoteOpenedInNewWindow)="nautilusService.newNautilusWindow($event.name, '')"
      (bookmarkOpenedInNewTab)="actions.openBookmarkInNewTab($event)"
      (bookmarkOpenedInNewWindow)="actions.openBookmarkInNewWindow($event)"
      (requestBookmarkRemoval)="nautilusService.toggleItem('bookmarks', $event)"
      (requestProperties)="actions.openPropertiesDialog('bookmark', $event)"
      (droppedToBookmark)="onDropToBookmark($event.event, $event.target)"
      (droppedToStarred)="onDropToStarred($event)"
      (droppedToLocal)="onDropToLocal($event)"
      (droppedToRemote)="onDropToRemote($event.event, $event.target)"
    ></app-nautilus-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="nautilus-main-content">
    <app-nautilus-toolbar
      data-tauri-drag-region
      [isMobile]="isMobile()"
      [canGoBack]="tabSvc.canGoBack()"
      [canGoForward]="tabSvc.canGoForward()"
      [isSearchMode]="isSearchMode()"
      [searchFilter]="searchFilter()"
      [isEditingPath]="isEditingPath()"
      [starredMode]="tabSvc.activeStarredMode()"
      [activeRemote]="tabSvc.activeRemote()"
      [pathSegments]="pathSegments()"
      [isDragging]="dragDrop.isDragging()"
      [hoveredSegmentIndex]="dragDrop.hoveredSegmentIndex()"
      [fullPathInput]="fullPathInput()"
      [layout]="settings.layout()"
      [pathOptionsMenu]="pathOptionsMenu"
      [viewMenu]="viewMenu"
      (goBack)="tabSvc.goBack()"
      (goForward)="tabSvc.goForward()"
      (navigateToSegment)="navigateToSegment($event)"
      (updatePath)="updatePath($event)"
      (navigateToPath)="navigateToPath($event)"
      (layoutChange)="settings.setLayout($event)"
      (closeOverlay)="closeOverlay.emit()"
      (copyUrl)="actions.openCopyUrlDialog()"
      (searchFilterChange)="searchFilter.set($event)"
      (isSearchModeChange)="isSearchMode.set($event)"
      (isEditingPathChange)="isEditingPath.set($event)"
      (droppedOnSegment)="onDropToSegment($event.event, $event.segmentIndex)"
    ></app-nautilus-toolbar>

    @if (tabSvc.tabs().length > 1 && !isPickerMode()) {
      <app-nautilus-tabs
        [tabs]="tabSvc.mappedTabs()"
        [activeTabIndex]="tabSvc.activeTabIndex()"
        [isDragging]="dragDrop.isDragging()"
        [hoveredTabIndex]="dragDrop.hoveredTabIndex()"
        (switchTab)="tabSvc.switchTab($event)"
        (closeTab)="tabSvc.closeTab($event)"
        (moveTab)="tabSvc.moveTab($event.previousIndex, $event.currentIndex)"
        (duplicateTab)="tabSvc.duplicateTab($event)"
        (closeOtherTabs)="tabSvc.closeOtherTabs($event)"
        (closeTabsToRight)="tabSvc.closeTabsToRight($event)"
      ></app-nautilus-tabs>
    }

    <div class="nautilus-content" [class.split-view]="tabSvc.isSplitEnabled()">
      <div class="split-container" [style.gridTemplateColumns]="tabSvc.splitGridColumns()">
        @for (pane of visiblePanes(); track pane.index) {
          @if (!$first) {
            <div class="split-divider" (mousedown)="onSplitDividerDrag($event)"></div>
          }
          <app-nautilus-view-pane
            [files]="pane.files"
            [selection]="pane.selection"
            [paneIndex]="pane.index"
            [isSplitEnabled]="tabSvc.isSplitEnabled()"
            [loading]="tabSvc.isLoading()"
            [error]="pane.error"
            [layout]="settings.layout()"
            [iconSize]="settings.iconSize()"
            [listRowHeight]="settings.listRowHeight()"
            [isDragging]="dragDrop.isDragging()"
            [hoveredFolder]="dragDrop.hoveredFolder()"
            [hoveredFolderPaneIndex]="dragDrop.hoveredFolderPaneIndex()"
            [cutItemPaths]="fileOps.cutItemPaths()"
            [starredMode]="pane.starredMode"
            [sortKey]="settings.sortKey()"
            [sortDirection]="settings.sortDirection()"
            [activePaneIndex]="tabSvc.activePaneIndex()"
            [isItemSelectable]="isItemSelectable"
            [isMobile]="isMobile()"
            [fileMenu]="fileMenu"
            (switchPane)="tabSvc.switchPane($event)"
            (clearSelection)="selectionSvc.clearSelection(pane.index)"
            (setContextItem)="setContextItem($event, pane.index)"
            (dropToCurrentDirectory)="onDropToCurrentDirectory($event.event, $event.paneIndex)"
            (dragStarted)="onDragStarted($event.event, $event.item)"
            (dragEnded)="onDragEnded()"
            (itemClick)="onItemClick($event.item, $event.event, $event.index, pane.index)"
            (navigateTo)="navigateTo($event)"
            (toggleStar)="nautilusService.toggleItem('starred', $event)"
            (toggleSort)="settings.toggleSort($event)"
            (refresh)="tabSvc.refresh(tabSvc.activePaneIndex())"
            (cancelLoad)="cancelLoad($event)"
            (updateSelection)="onUpdateSelection($event, pane.index)"
          ></app-nautilus-view-pane>
        }
      </div>
    </div>

    @if (isMobile()) {
      <app-nautilus-bottom-bar
        [layout]="settings.layout()"
        [viewMenu]="viewMenu"
        [isPickerMode]="isPickerMode()"
        [isConfirmDisabled]="isConfirmDisabled()"
        (setLayout)="settings.setLayout($event)"
        (confirmSelection)="confirmSelection()"
        (toggleSidebar)="sidenav.toggle()"
      ></app-nautilus-bottom-bar>
    }

    <ng-template #fileMenu let-item>
      <div
        class="material-context-menu sliding-container"
        cdkMenu
        [style.height.px]="contextMenuHeight()"
      >
        <div class="menu-pages-track" [class.show-submenu]="currentMenuView() === 'open'">
          <!-- Main Page -->
          <div class="menu-page" [class.active-page]="currentMenuView() === 'main'">
            @if (!tabSvc.errorState()) {
              @if (item) {
                @if (item.entry.IsDir) {
                  <button
                    class="menu-item"
                    (click)="currentMenuView.set('open'); $event.stopPropagation()"
                  >
                    <span class="item-label">
                      <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
                    </span>
                    <mat-icon svgIcon="chevron-right"></mat-icon>
                  </button>
                } @else {
                  <button class="menu-item" cdkMenuItem (click)="openContextMenuOpen()">
                    <span class="item-label">
                      <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
                    </span>
                    <span class="shortcut">Return</span>
                  </button>
                }

                @if (item.entry.IsDir) {
                  <button class="menu-item" cdkMenuItem (click)="actions.removeEmptyDirs()">
                    <span class="item-label">{{
                      'nautilus.contextMenu.removeEmptyDirs' | translate
                    }}</span>
                  </button>
                }
                <button class="menu-item" cdkMenuItem [appCopyToClipboard]="getFormattedPath(item)">
                  <span class="item-label">{{ 'nautilus.contextMenu.copyPath' | translate }}</span>
                </button>

                <mat-divider></mat-divider>

                <button class="menu-item" cdkMenuItem (click)="copyItems()">
                  <span class="item-label">{{ 'nautilus.contextMenu.copy' | translate }}</span>
                  <span class="shortcut">Ctrl+C</span>
                </button>
                <button class="menu-item" cdkMenuItem (click)="cutItems()">
                  <span class="item-label">{{ 'nautilus.contextMenu.cut' | translate }}</span>
                  <span class="shortcut">Ctrl+X</span>
                </button>
                <button class="menu-item" cdkMenuItem (click)="actions.openRename()">
                  <span class="item-label">{{ 'nautilus.contextMenu.rename' | translate }}</span>
                  <span class="shortcut">F2</span>
                </button>
                <button class="menu-item" cdkMenuItem (click)="actions.openArchiveCreate()">
                  <span class="item-label">{{ 'nautilus.contextMenu.compress' | translate }}</span>
                </button>

                <mat-divider></mat-divider>

                <button class="menu-item" cdkMenuItem (click)="actions.deleteSelectedItems()">
                  <span class="item-label">{{ 'nautilus.contextMenu.delete' | translate }}</span>
                  <span class="shortcut">Delete</span>
                </button>

                <mat-divider></mat-divider>

                <button
                  class="menu-item"
                  cdkMenuItem
                  (click)="actions.openPropertiesDialog('contextMenu')"
                >
                  <span class="item-label">{{
                    'nautilus.contextMenu.properties' | translate
                  }}</span>
                  <span class="shortcut">Alt+Return</span>
                </button>
              }
              @if (!item) {
                <button
                  class="menu-item"
                  cdkMenuItem
                  (click)="tabSvc.refresh(tabSvc.activePaneIndex())"
                >
                  <span class="item-label">{{ 'nautilus.contextMenu.refresh' | translate }}</span>
                  <span class="shortcut">F5</span>
                </button>
              }
              @if (!item && !tabSvc.activeStarredMode()) {
                <button class="menu-item" cdkMenuItem (click)="actions.openNewFolder()">
                  <span class="item-label">{{ 'nautilus.contextMenu.newFolder' | translate }}</span>
                  <span class="shortcut">Ctrl+Shift+N</span>
                </button>
                <mat-divider></mat-divider>
                <button class="menu-item" cdkMenuItem (click)="uploadFiles()">
                  <span class="item-label"
                    >{{ 'nautilus.contextMenu.uploadFiles' | translate }}...</span
                  >
                </button>
                <button class="menu-item" cdkMenuItem (click)="uploadFolder()">
                  <span class="item-label"
                    >{{ 'nautilus.contextMenu.uploadFolder' | translate }}...</span
                  >
                </button>
                @if (fileOps.hasClipboard()) {
                  <button class="menu-item" cdkMenuItem (click)="pasteItems()">
                    <span class="item-label">{{ 'nautilus.contextMenu.paste' | translate }}</span>
                    <span class="shortcut">Ctrl+V</span>
                  </button>
                }
                <mat-divider></mat-divider>
                <button
                  class="menu-item"
                  cdkMenuItem
                  (click)="actions.openPropertiesDialog('contextMenu')"
                >
                  <span class="item-label">{{
                    'nautilus.contextMenu.properties' | translate
                  }}</span>
                </button>
              }
            }
          </div>

          <!-- Open Submenu Page -->
          <div class="menu-page" [class.active-page]="currentMenuView() === 'open'">
            <button
              class="menu-item centered-item"
              (click)="currentMenuView.set('main'); $event.stopPropagation()"
            >
              <span class="item-label">{{ 'common.back' | translate }}</span>
            </button>
            <mat-divider></mat-divider>

            <button class="menu-item" cdkMenuItem (click)="openContextMenuOpen()">
              <span class="item-label">{{ 'nautilus.contextMenu.open' | translate }}</span>
              <span class="shortcut">Return</span>
            </button>
            @if (actions.contextMenuItem()?.entry?.IsDir) {
              <button class="menu-item" cdkMenuItem (click)="actions.openContextMenuOpenInNewTab()">
                <span class="item-label">{{ 'nautilus.contextMenu.openNewTab' | translate }}</span>
                <span class="shortcut">Ctrl+Return</span>
              </button>
              <button
                class="menu-item"
                cdkMenuItem
                (click)="actions.openContextMenuOpenInNewWindow()"
              >
                <span class="item-label">{{
                  'nautilus.contextMenu.openNewWindow' | translate
                }}</span>
                <span class="shortcut">Shift+Return</span>
              </button>
            }
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #pathOptionsMenu>
      <div class="material-context-menu" cdkMenu>
        @if (!tabSvc.errorState()) {
          @if (!tabSvc.activeStarredMode()) {
            <button class="menu-item" cdkMenuItem (click)="actions.openNewFolder()">
              <span>{{ 'nautilus.contextMenu.newFolder' | translate }}...</span>
            </button>
            <mat-divider></mat-divider>
            <button class="menu-item" cdkMenuItem (click)="uploadFiles()">
              <span>{{ 'nautilus.contextMenu.uploadFiles' | translate }}...</span>
            </button>
            <button class="menu-item" cdkMenuItem (click)="uploadFolder()">
              <span>{{ 'nautilus.contextMenu.uploadFolder' | translate }}...</span>
            </button>
            <button class="menu-item" cdkMenuItem (click)="actions.openCopyUrlDialog()">
              <span>{{ 'nautilus.modals.copyUrl.title' | translate }}...</span>
            </button>
            <mat-divider></mat-divider>
            <button
              class="menu-item"
              cdkMenuItem
              (click)="pasteItems()"
              [disabled]="!fileOps.hasClipboard()"
            >
              <span>{{ 'nautilus.contextMenu.paste' | translate }}</span>
            </button>
          }
        }

        <button class="menu-item" cdkMenuItem (click)="tabSvc.refresh(tabSvc.activePaneIndex())">
          <span>{{ 'nautilus.contextMenu.reload' | translate }}</span>
        </button>

        @if (!tabSvc.errorState()) {
          @if (!tabSvc.activeStarredMode()) {
            <button class="menu-item" cdkMenuItem [appCopyToClipboard]="fullPathInput()">
              <span>{{ 'nautilus.contextMenu.copyLocation' | translate }}</span>
            </button>
          }
          <mat-divider></mat-divider>

          <button
            class="menu-item"
            cdkMenuItem
            (click)="selectAll()"
            [disabled]="isPickerMode() && !pickerOptions().multi"
          >
            <span>{{ 'nautilus.contextMenu.selectAll' | translate }}</span>
          </button>

          @if (!tabSvc.activeStarredMode()) {
            <mat-divider></mat-divider>
            <button
              class="menu-item"
              cdkMenuItem
              (click)="setContextItem(null); actions.openPropertiesDialog('contextMenu')"
            >
              <span>{{ 'nautilus.contextMenu.properties' | translate }}</span>
            </button>
          }
        }
      </div>
    </ng-template>

    @if (isPickerMode() && !isMobile()) {
      <div class="picker-actions desktop-picker">
        <button
          mat-flat-button
          class="accent"
          (click)="confirmSelection()"
          [disabled]="isConfirmDisabled()"
        >
          {{ 'nautilus.contextMenu.open' | translate }}
        </button>
      </div>
    }

    @if (selectionSummary()) {
      <div class="selection-info-container">
        <span class="selection-info">{{ selectionSummary() }}</span>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #viewMenu>
  <div class="material-context-menu" cdkMenu>
    <div class="icon-size-control">
      <span class="control-label">{{ 'nautilus.view.iconSize' | translate }}</span>
      <div class="control-buttons">
        <button
          class="icon-button"
          (click)="settings.decreaseIconSize(); $event.stopPropagation()"
          [disabled]="settings.decreaseIconDisabled()"
        >
          <mat-icon svgIcon="remove"></mat-icon>
        </button>
        <button
          class="icon-button"
          (click)="settings.increaseIconSize(); $event.stopPropagation()"
          [disabled]="settings.increaseIconDisabled()"
        >
          <mat-icon svgIcon="plus"></mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="menu-section-label">{{ 'nautilus.sort.label' | translate }}</div>
    @for (opt of sortOptions; track opt.key) {
      <button
        class="menu-item"
        cdkMenuItemRadio
        [cdkMenuItemChecked]="settings.sortKey() === opt.key"
        (cdkMenuItemTriggered)="settings.setSort(opt.key)"
      >
        <span class="item-label">{{ opt.label | translate }}</span>
        @if (settings.sortKey() === opt.key) {
          <mat-icon svgIcon="circle-check" class="selection-icon"></mat-icon>
        }
      </button>
    }

    <mat-divider></mat-divider>

    <button
      class="menu-item"
      cdkMenuItemCheckbox
      [cdkMenuItemChecked]="tabSvc.isSplitEnabled()"
      (cdkMenuItemTriggered)="tabSvc.toggleSplit()"
    >
      <span class="item-label">{{ 'nautilus.contextMenu.toggleSplit' | translate }}</span>
      @if (tabSvc.isSplitEnabled()) {
        <mat-icon svgIcon="circle-check" class="selection-icon"></mat-icon>
      }
    </button>

    <button
      class="menu-item"
      cdkMenuItemCheckbox
      [cdkMenuItemChecked]="settings.showHidden()"
      (cdkMenuItemTriggered)="settings.toggleShowHidden(!settings.showHidden())"
    >
      <span class="item-label">{{ 'nautilus.view.showHidden' | translate }}</span>
      @if (settings.showHidden()) {
        <mat-icon svgIcon="circle-check" class="selection-icon"></mat-icon>
      }
    </button>
  </div>
</ng-template>

<!-- Hidden inputs for headless uploads -->
<input
  #fileUploadInput
  type="file"
  multiple
  style="display: none"
  (change)="onWebUploadFiles($event)"
/>
<input
  #folderUploadInput
  type="file"
  webkitdirectory
  directory
  style="display: none"
  (change)="onWebUploadFolder($event)"
/>
