.modal {
  height: 100%;
  background: var(--secondary-background);
  box-shadow: 0 4px 12px var(--shadow-color);
  display: flex;
  flex-direction: column;
  position: relative; /* Ensure absolute positioning works for children */
  overflow: hidden; /* Hide overflow from children */

  .modal-header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background: var(--app-background);
    color: var(--app-text-color);
    border-bottom: 1px solid #ddd;
    z-index: 10;
    justify-content: space-between;
    padding: 10px 10px 8px 10px;
    min-height: 30px;

    button {
      color: var(--app-text-color);
      background-color: transparent;
      padding: 6px;

      &.active {
        background-color: var(--hover-color);
      }
    }

    .tabs {
      display: flex;
      gap: 2vw;
      justify-content: center;

      button {
        border-radius: 8px;
        padding: 10px 8px;
      }
      

    }
    h2 {
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      align-self: center;
    }
  }


    .bottom-tabs {
      border-top: 1px solid #ddd;
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: space-evenly;
      width: 100%;


      button {
        flex-direction: column;
        color: var(--app-text-color);
        background-color: transparent;
        gap: 0;
        font-size: 14px;
        font-weight: 600;
        padding: 4px 8px;
        margin-block: 4px;

        mat-icon {
          width: 14px;
        }
  
        &.active {
          background-color: var(--hover-color);
        }
      }
    }


  .modal-content {
    padding: 16px;
    overflow: auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tab-content {
      width: 100%;
      transition: transform 0.3s ease-in-out;

      .settings-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .setting-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: var(--app-background);
          padding: 12px 16px;
          border-radius: calc(var(--border-radius) * 2);
          width: 90%;
          box-shadow: 0 0 4px var(--shadow-color);

          .setting-info {
            display: flex;
            flex-direction: column;
            max-width: 60%;
            strong {
              font-size: 14px;
              color: var(--app-text-color);

              p {
                font-size: 12px;
                color: var(--secondary-text-color);
                margin: 4px 0 0;
              }
            }
          }
          .setting-control {
            display: flex;
            align-items: center;
            gap: 12px;
          }

          .input-field {
            width: 120px;
          }

          mat-slide-toggle {
            margin-left: auto;
          }
        }
      }
    }

    .reset {
      width: 90%;
      margin-top: 16px;
            
    }
  }
}
