<div class="sidebar">
  <h3>Remotes <mat-icon svgIcon="remotes"></mat-icon></h3>
  <ul *ngIf="remotes.length > 0">
    <mat-card class="remote-card" *ngFor="let remote of remotes" (click)="selectRemote(remote)">
      <mat-card-content class="card-content">
        <h4>{{ remote.remoteSpecs.name }}</h4>
        <p>
          <mat-icon [svgIcon]="iconService.getIconName(remote.remoteSpecs.type)"></mat-icon> {{ remote.remoteSpecs.type
          | titlecase }}
        </p>
        <div class="remote-status">
          <p [class.active]="remote.mountState?.mounted" [class.passive]="!remote.mountState?.mounted"> <mat-icon
              svgIcon="mount"></mat-icon>
          </p>
          <p class="sync" [class.active]="remote.syncState?.isOnSync" [class.passive]="!remote.syncState?.isOnSync">
            <mat-icon svgIcon="sync"></mat-icon>
          </p>

          <p class="copy">
            <mat-icon svgIcon="copy"></mat-icon>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </ul>
  <p *ngIf="remotes.length === 0" class="no-remotes">
    No remotes available
  </p>
</div>