<div class="title-bar" data-tauri-drag-region>
  <div class="left-section">
    <mat-menu #addRemoteMenu="matMenu">
      <button mat-menu-item (click)="openQuickAddRemoteModal()">
        <span>Quick Remote</span>
        <span class="shortcut">Ctrl + R</span>
      </button>
      <button mat-menu-item (click)="openRemoteConfigModal()">
        <span>Detailed Remote </span>
        <span class="shortcut"> Ctrl + N</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="addRemoteMenu">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
    <button mat-icon-button (click)="resetRemote()">
      <mat-icon svgIcon="rclone-symbolic" alt="RClone Manager Logo"></mat-icon>
    </button>
  </div>

  <div class="center-section">
    <app-tabs-buttons *ngIf="!(isMobile$ | async)" style="display: flex;"
    ></app-tabs-buttons>
  </div>


  <div class="right-section">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="menu-bar"></mat-icon>
    </button>
    <button mat-icon-button (click)="minimizeWindow()">
      <mat-icon svgIcon="remove"></mat-icon>
    </button>
    <button mat-icon-button (click)="maximizeWindow()">
      <mat-icon svgIcon="check_box"></mat-icon>
    </button>
    <button mat-icon-button (click)="closeWindow()">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <div class="theme-selector">
      <button class="theme-button system" [class.selected]="selectedTheme === 'system'"
        (click)="$event.stopPropagation(); setTheme('system')">
        <mat-icon svgIcon="circle-check" *ngIf="selectedTheme === 'system'" class="icon checkmark"></mat-icon>
      </button>

      <button class="theme-button light" [class.selected]="selectedTheme === 'light'"
        (click)="$event.stopPropagation(); setTheme('light')">
        <mat-icon svgIcon="circle-check" *ngIf="selectedTheme === 'light'" class="icon checkmark"></mat-icon>
      </button>

      <button class="theme-button dark" [class.selected]="selectedTheme === 'dark'"
        (click)="$event.stopPropagation(); setTheme('dark')">
        <mat-icon svgIcon="circle-check" *ngIf="selectedTheme === 'dark'" class="icon checkmark"></mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="restoreSettings()">
      <span>Import</span>
      <span class="shortcut">Ctrl + I</span>
    </button>

    <button mat-menu-item (click)="openExportModal()">
      <span>Export</span>
      <span class="shortcut">Ctrl + E</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="openPreferencesModal()">
      <span>Preferences</span>
      <span class="shortcut">Ctrl + ,</span>
    </button>
    <button mat-menu-item (click)="openKeyboardShortcutsModal()">
      <span>Keyboard Shortcuts</span>
      <span class="shortcut">Ctrl + ?</span>
    </button>
    <button mat-menu-item (click)="openAboutModal()">About RClone Manager</button>
  </mat-menu>
</div>