<div class="title-bar" data-tauri-drag-region>
  <div class="left-section">
    <mat-menu #addRemoteMenu="matMenu">
      <button mat-menu-item>
        <span>Quick Remote</span>
        <span class="shortcut">Ctrl + R</span>
      </button>
      <button mat-menu-item (click)="openRemoteConfigModal()">
        <span>Detailed Remote</span>
        <span class="shortcut">Ctrl + N</span>
      </button>
    </mat-menu>
    <button mat-icon-button class="add-button" [matMenuTriggerFor]="addRemoteMenu">
      <img src="assets/icons/titlebar/add.svg" class="icon icon-bw" />
    </button>
    <button (click)="resetRemote()">
      <img src="assets/rclone_symbolic.svg" alt="RClone Manager Logo" class="logo icon-bw" />
    <span class="title">RClone Manager</span>
    </button>
  </div>


  <div class="right-section">
    <button mat-icon-button>
      <img src="assets/icons/titlebar/search.svg" class="icon icon-bw" />
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img src="assets/icons/titlebar/menu-bar.svg" class="icons icon-bw" />
    </button>
    <button mat-icon-button (click)="minimizeWindow()">
      <img src="assets/icons/titlebar/remove.svg" class="icons icon-bw" />
    </button>
    <button mat-icon-button (click)="maximizeWindow()">
      <img src="assets/icons/titlebar/check_box.svg" class="icons icon-bw" />
    </button>
    <button mat-icon-button (click)="closeWindow()">
      <img src="assets/icons/titlebar/close.svg" class="icons icon-bw" />
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <div class="theme-selector">
      <button mat-icon-button class="theme-button system" [class.selected]="selectedTheme === 'system'"
        (click)="$event.stopPropagation(); setTheme('system')">
        <img src="assets/icons/circle-check-blue.svg" *ngIf="selectedTheme === 'system'" class="icon checkmark" />
      </button>

      <button mat-icon-button class="theme-button light" [class.selected]="selectedTheme === 'light'"
        (click)="$event.stopPropagation(); setTheme('light')">
        <img src="assets/icons/circle-check-blue.svg" *ngIf="selectedTheme === 'light'" class="icon checkmark" />
      </button>

      <button mat-icon-button class="theme-button dark" [class.selected]="selectedTheme === 'dark'"
        (click)="$event.stopPropagation(); setTheme('dark')">
        <img src="assets/icons/circle-check-blue.svg" *ngIf="selectedTheme === 'dark'" class="icon checkmark" />
      </button>
    </div>

    <mat-divider></mat-divider>

    <button mat-menu-item>
      <span>Import</span>
      <span class="shortcut">Ctrl + I</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="openPreferencesModal()">
      <span>Preferences</span>
      <span class="shortcut">Ctrl + S</span>
    </button>
    <button mat-menu-item (click)="openKeyboardShortcutsModal()">
      <span>Keyboard Shortcuts</span>
      <span class="shortcut">Ctrl + ?</span>
    </button>
    <button mat-menu-item (click)="openAboutModal()">About RClone Manager</button>
  </mat-menu>
</div>