@if (!isEditingLayout()) {
  @for (tab of tabs(); track tab.id) {
    <button
      class="tab-btn"
      [class.selected]="currentTab() === tab.id"
      [attr.title]="tab.label | translate"
      (click)="setTab(tab.id)"
      data-tauri-drag-region="false"
    >
      <div class="icon-wrapper">
        <mat-icon [svgIcon]="tab.icon"></mat-icon>
      </div>
      <span class="tab-label">{{ tab.label | translate }}</span>
    </button>
  }
} @else {
  @let ctx = editContext();
  @if (ctx?.onReset) {
    <button
      class="tab-btn"
      [attr.title]="'generalOverview.layout.reset' | translate"
      (click)="uiStateService.resetLayout()"
      data-tauri-drag-region="false"
    >
      <div class="icon-wrapper">
        <mat-icon class="warn" svgIcon="rotate-right"></mat-icon>
      </div>
      <span class="tab-label">{{ 'generalOverview.layout.reset' | translate }}</span>
    </button>
  }

  @if (ctx?.hasViewToggle) {
    <button
      class="tab-btn"
      [attr.title]="
        (uiStateService.cardDisplayMode() === 'compact'
          ? 'generalOverview.layout.showDetailed'
          : 'generalOverview.layout.showCompact'
        ) | translate
      "
      (click)="uiStateService.toggleCardDisplayMode()"
      data-tauri-drag-region="false"
    >
      <div class="icon-wrapper">
        <mat-icon
          [svgIcon]="uiStateService.cardDisplayMode() === 'compact' ? 'detailed' : 'compress'"
        ></mat-icon>
      </div>
      <span class="tab-label">
        {{
          (uiStateService.cardDisplayMode() === 'compact'
            ? 'generalOverview.layout.showDetailed'
            : 'generalOverview.layout.showCompact'
          ) | translate
        }}
      </span>
    </button>
  }

  <button
    class="tab-btn"
    [attr.title]="'generalOverview.layout.save' | translate"
    (click)="uiStateService.endLayoutEdit()"
    data-tauri-drag-region="false"
  >
    <div class="icon-wrapper">
      <mat-icon class="primary" svgIcon="check-circle"></mat-icon>
    </div>
    <span class="tab-label">{{ 'generalOverview.layout.save' | translate }}</span>
  </button>
}
