.tabs-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  padding: var(--space-xs);
  .mat-mdc-icon-button {
    color: var(--window-fg-color);

    &.selected {
      outline: none !important;
      background-color: var(--hover-bg-color) !important;
    }

    &:active,
    &:focus-visible {
      outline: none !important;
      background-color: var(--selected-tab-color) !important;
    }
  }
}

@media (max-width: 600px) {
  .tabs-buttons {
    width: 100%;
  }
}
