<div class="tabs-buttons">
  <button
    matIconButton
    matTooltip="General"
    (click)="tabSelected.emit('general')"
    [class.selected]="currentTab === 'general'"
  >
    <mat-icon svgIcon="home"></mat-icon>
  </button>
  <button
    matIconButton
    matTooltip="Mount"
    (click)="tabSelected.emit('mount')"
    [class.selected]="currentTab === 'mount'"
  >
    <mat-icon svgIcon="mount"></mat-icon>
  </button>
  <button
    matIconButton
    matTooltip="Sync"
    (click)="tabSelected.emit('sync')"
    [class.selected]="currentTab === 'sync'"
  >
    <mat-icon svgIcon="sync"></mat-icon>
  </button>
  <button
    matIconButton
    matTooltip="Serve"
    (click)="tabSelected.emit('serve')"
    [class.selected]="currentTab === 'serve'"
  >
    <mat-icon svgIcon="satellite-dish"></mat-icon>
  </button>
</div>
