:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  padding: var(--space-xxs) var(--title-bar-padding);

  @media (max-width: 600px) {
    width: 100%;
    padding: var(--space-xs) var(--title-bar-padding);
  }

  @media (min-width: 600px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mat-mdc-icon-button {
  color: var(--window-fg-color);

  &.selected {
    outline: none !important;
    background-color: var(--hover-bg-color) !important;
  }

  &:active,
  &:focus-visible {
    outline: none !important;
    background-color: var(--selected-tab-color) !important;
  }
}
