<div class="update-status-container">
  <div class="status-indicator" [class]="getStatusClass()">
    @if (updateStatus.checking || updateStatus.updating) {
      <mat-spinner
        diameter="20"
        strokeWidth="3"
        [matTooltip]="getSpinnerTooltip()"
        matTooltipPosition="above"
      >
      </mat-spinner>
    } @else {
      <button
        mat-icon-button
        class="status-button"
        [class.update-available]="updateStatus.available"
        [class.error-state]="updateStatus.error"
        [class.up-to-date]="!updateStatus.available && !updateStatus.error"
        [matTooltip]="getButtonTooltip()"
        matTooltipPosition="above"
        (click)="handleStatusClick()"
        [disabled]="isActionDisabled()"
      >
        <mat-icon [svgIcon]="getStatusIcon()" [class]="getIconClass()"> </mat-icon>
      </button>
    }
  </div>
</div>
