<mat-sidenav-container class="nautilus-overlay-pane" autosize [@slideOverlay]>
  <mat-sidenav #sidenav mode="side" opened class="nautilus-sidenav">
    <div class="sidenav-content">
      <mat-toolbar data-tauri-drag-region>
        <button mat-icon-button class="small-button"><mat-icon svgIcon="search"></mat-icon></button>
        <span>{{ title$ | async }}</span>
        <button mat-icon-button class="small-button">
          <mat-icon svgIcon="menu-bar"></mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <!-- List real remotes from the backend. We use AsyncPipe and a trackBy for stable DOM nodes. -->
        <mat-list-item
          *ngFor="let remote of remotesWithMeta$ | async; trackBy: trackByRemote"
          (click)="selectRemote(remote)"
          role="button"
          tabindex="0"
          [class.selected]="(nautilusRemote$ | async)?.name === remote.name"
          class="remote-list-item"
        >
          <span class="remote-info">
            <span class="remote-icon">
              <mat-icon matListIcon [svgIcon]="iconService.getIconName(remote.type)"></mat-icon>
              <p matLine>{{ remote.name }}</p>
            </span>
            <span class="eject">
              <mat-icon
                class="unmount-button"
                *ngIf="remote.isMounted"
                (click)="openMountInFiles($event, remote.mountPoint, remote.name)"
                svgIcon="eject"
              ></mat-icon>
            </span>
          </span>
        </mat-list-item>

        <!-- Show a placeholder when no remotes exist -->
        <mat-list-item *ngIf="(remotesWithMeta$ | async)?.length === 0">
          <mat-icon matListIcon svgIcon="cloud-offline"></mat-icon>
          <h4 matLine>No remotes configured</h4>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="nautilus-main-content">
    <mat-toolbar class="nautilus-toolbar" data-tauri-drag-region>
      <div class="left-section">
        <button mat-icon-button class="secondary" aria-label="Back" (click)="goBack()">
          <mat-icon svgIcon="chevron-left"></mat-icon>
        </button>
        <button mat-icon-button class="secondary" aria-label="Forward" (click)="goForward()">
          <mat-icon svgIcon="chevron-right"></mat-icon>
        </button>
      </div>
      <div
        class="path-container"
        (click)="isEditingPath.next(true)"
        (keydown.enter)="isEditingPath.next(true)"
        tabindex="0"
      >
        <ng-container *ngIf="(isEditingPath | async) === false">
          <button
            mat-button
            class="path-segment"
            (click)="$event.stopPropagation(); navigateToPath('')"
          >
            <mat-icon [svgIcon]="(nautilusRemote$ | async)?.type || 'home'"></mat-icon>
            {{ (nautilusRemote$ | async)?.name || 'Local' }}
          </button>
          <span
            *ngFor="
              let segment of pathSegments$ | async as segments;
              let i = index;
              trackBy: trackByIndex
            "
          >
            /
            <button
              mat-button
              class="path-segment"
              (click)="$event.stopPropagation(); navigateToPath(getPath(segments, i))"
            >
              {{ segment }}
            </button>
          </span>
        </ng-container>
        <input
          *ngIf="isEditingPath | async"
          #pathInput
          class="path-input"
          [value]="
            ((nautilusRemote$ | async)?.name === 'Local'
              ? ''
              : (nautilusRemote$ | async)?.name + '/') + (currentPath$ | async)
          "
          (keydown.enter)="navigateToPath(pathInput.value)"
          (blur)="navigateToPath(pathInput.value)"
        />
      </div>

      <div class="right-section">
        <button mat-icon-button (click)="setLayout(layout$.value === 'grid' ? 'list' : 'grid')">
          <mat-icon [svgIcon]="layout$.value === 'grid' ? 'view-list' : 'view-grid'"></mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="viewMenu">
          <mat-icon svgIcon="arrow-down"></mat-icon>
        </button>
        <mat-menu #viewMenu="matMenu">
          <div class="view-menu-content">
            <div class="icon-size-control">
              <span>Icon Size</span>
              <button mat-icon-button (click)="decreaseIconSize()">
                <mat-icon svgIcon="minus"></mat-icon>
              </button>
              <button mat-icon-button (click)="increaseIconSize()">
                <mat-icon svgIcon="plus"></mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
            <div class="sort-options">
              <mat-radio-group
                [ngModel]="(sort$ | async)?.key"
                (ngModelChange)="changeSort($event)"
              >
                <mat-radio-button value="name">Name</mat-radio-button>
                <mat-radio-button value="modified">Modified</mat-radio-button>
                <mat-radio-button value="size">Size</mat-radio-button>
                <mat-radio-button value="type">Type</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-divider></mat-divider>
            <mat-checkbox
              [ngModel]="showHidden$ | async"
              (ngModelChange)="toggleShowHidden($event)"
            >
              Show Hidden Files
            </mat-checkbox>
          </div>
        </mat-menu>
        <!-- Window Controls -->
        @if (windowButtons) {
          <button matIconButton (click)="minimizeWindow()" aria-label="Minimize window">
            <mat-icon svgIcon="remove" aria-hidden="true"></mat-icon>
          </button>
          <button matIconButton (click)="maximizeWindow()" aria-label="Maximize window">
            <mat-icon svgIcon="check-box" aria-hidden="true"></mat-icon>
          </button>
          <button
            matIconButton
            (click)="closeWindow()"
            aria-label="Close window"
            class="close-button"
          >
            <mat-icon svgIcon="close" aria-hidden="true"></mat-icon>
          </button>
        }
      </div>
    </mat-toolbar>

    <div class="nautilus-content" [ngSwitch]="layout$ | async">
      <div
        *ngSwitchCase="'grid'"
        class="nautilus-grid"
        (click)="clearSelection()"
        (keydown.space)="clearSelection()"
        tabindex="0"
      >
        <!-- Responsive CSS Grid: columns auto-fit based on available width and tile min width
             tile min width is derived from `iconSize$` (fallback 120px) so tiles adapt
             when icon size changes. -->
        <div
          class="grid"
          [style.gridTemplateColumns]="
            'repeat(auto-fill, minmax(' + (((iconSize$ | async) || 120) + 40) + 'px, 1fr))'
          "
        >
          <div
            class="grid-item"
            *ngFor="let item of files$ | async as allItems; let i = index; trackBy: trackByFile"
            (click)="onItemClick(item, $event, i, allItems)"
            (keydown.enter)="onItemKeydown(item, $event, i, allItems)"
            (dblclick)="navigateTo(item)"
            [class.selected]="(selectedItems$ | async)?.has(item.Path)"
            [class.unselectable]="!isItemSelectable(item)"
            tabindex="0"
          >
            <mat-card class="folder-card" [class.file-card]="!item.IsDir">
              <mat-card-content>
                <mat-icon
                  class="folder-icon"
                  [style.fontSize.px]="((iconSize$ | async) || 120) / 2"
                  [svgIcon]="item.IsDir ? 'folder' : 'file'"
                ></mat-icon>
                <p class="folder-title">{{ item.Name }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div
        *ngSwitchCase="'list'"
        class="nautilus-list"
        (click)="clearSelection()"
        (keydown.space)="clearSelection()"
        tabindex="0"
      >
        <div class="list-header">
          <div
            class="list-col name"
            (click)="changeSort('name')"
            (keydown.enter)="changeSort('name')"
            tabindex="0"
          >
            Name
            <mat-icon
              *ngIf="(sort$ | async)?.key === 'name'"
              [svgIcon]="(sort$ | async)?.direction === 'asc' ? 'arrow-up' : 'arrow-down'"
            ></mat-icon>
          </div>
          <div
            class="list-col size"
            (click)="changeSort('size')"
            (keydown.enter)="changeSort('size')"
            tabindex="0"
          >
            Size
            <mat-icon
              *ngIf="(sort$ | async)?.key === 'size'"
              [svgIcon]="(sort$ | async)?.direction === 'asc' ? 'arrow-up' : 'arrow-down'"
            ></mat-icon>
          </div>
          <div
            class="list-col modified"
            (click)="changeSort('modified')"
            (keydown.enter)="changeSort('modified')"
            tabindex="0"
          >
            Modified
            <mat-icon
              *ngIf="(sort$ | async)?.key === 'modified'"
              [svgIcon]="(sort$ | async)?.direction === 'asc' ? 'arrow-up' : 'arrow-down'"
            ></mat-icon>
          </div>
          <div class="list-col star"></div>
        </div>
        <div
          *ngFor="let item of files$ | async as allItems; let i = index; trackBy: trackByFile"
          class="list-row"
          (click)="onItemClick(item, $event, i, allItems)"
          (keydown.enter)="onItemKeydown(item, $event, i, allItems)"
          (dblclick)="navigateTo(item)"
          [class.selected]="(selectedItems$ | async)?.has(item.Path)"
          [class.unselectable]="!isItemSelectable(item)"
          tabindex="0"
        >
          <div class="list-col name">
            <mat-icon [svgIcon]="item.IsDir ? 'folder' : 'file'"></mat-icon>
            <span>{{ item.Name }}</span>
          </div>
          <div class="list-col size">
            {{ item.IsDir ? '--' : formatBytes(item.Size) }}
          </div>
          <div class="list-col modified">
            {{ formatRelativeDate(item.ModTime) }}
          </div>
          <div class="list-col star">
            <mat-icon svgIcon="star-outline"></mat-icon>
          </div>
        </div>
      </div>
      <div
        class="empty-folder-container"
        *ngIf="(files$ | async)?.length === 0 && (isLoading$ | async) === false"
      >
        <mat-icon svgIcon="folder"></mat-icon>
        <h2>Folder is Empty</h2>
      </div>
      <div
        class="selection-summary"
        *ngIf="(selectionSummary$ | async) && (isLoading$ | async) === false"
      >
        {{ selectionSummary$ | async }}
      </div>
      <div class="loading-overlay" *ngIf="isLoading$ | async">
        <mat-spinner diameter="24"></mat-spinner>
        <span>Loading...</span>
        <button mat-icon-button (click)="cancelLoad()">
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </div>
    </div>
    <div class="picker-actions" *ngIf="isPickerMode$ | async">
      <button mat-stroked-button (click)="onClose()">Cancel</button>
      <button
        mat-flat-button
        class="accent"
        (click)="confirmSelection()"
        [disabled]="isOpenDisabled"
      >
        Open
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
