.onboarding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--shadow-color);
  backdrop-filter: blur(10px);
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: min(90vw, 600px);
    height: min(80vh, 500px);
    background: var(--app-background);
    border-radius: 16px;
    overflow: hidden;
    
    .card {
      background-color: transparent;
      text-align: center;
      box-shadow: none;
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;

      
      mat-card-title {
        color: var(--app-text-color);
        font-size: 1.5rem;
        font-weight: 600;
      }

      .folder-button {
        padding: 4px 8px;
        margin: 4px;
      }

      .input-field {
        width: 90%;
        margin-top: 0.2rem;
      }
      
      img:not(.icon) {
        max-width: 200px;
        max-height: 200px;
        width: 100%;
        height: auto;
      }
      &.active {
        opacity: 1;
      }
    }
    
    .navigation {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      gap: 1rem;
      will-change: transform, opacity;

      button {
        display: flex;
        align-items: center;
        background: #6200ee;
        color: #fff;
        padding: 0.5rem 1rem;
      
        &:hover {
          background: #3700b3;
        }
      
        &:disabled {
          background: #ccc;
          cursor: not-allowed;
        }
      }
    }
    
  }
}
