.input-modal {
  .modal-content {
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0 20px 20px 20px;
  }
}
