// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rclone-manager-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$rclone-manager-accent: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rclone-manager-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rclone-manager-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $rclone-manager-primary,
      accent: $rclone-manager-accent,
      warn: $rclone-manager-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rclone-manager-theme);


// Define the palettes for the dark theme
$rclone-manager-dark-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$rclone-manager-dark-accent: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);
$rclone-manager-dark-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the dark theme object
$rclone-manager-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $rclone-manager-dark-primary,
      accent: $rclone-manager-dark-accent,
      warn: $rclone-manager-dark-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);


.light {

  /* Define custom colors for light mode */
  --app-background: #fafafa;
  --secondary-background: #ffffff;
  --sidebar-background: #ebebeb;
  --semi-transparent-background: rgba(255, 255, 255, 0.8);
  --shadow-color: rgba(0, 0, 0, 0.32);
  --hover-color: rgb(200, 200, 200);
  --app-text-color: #000000;
  --secodary-text-color: #939090;
  --border-color: #cfcfcf;
  --button-background: #f5f5f5;
  --button-text: #000000;
  --button-hover: #dddddd;
  --button-active: #cfcfcf;
  --add-button-background: #dbdbdb;
  --add-button-hover: #939090;
  --theme-border: #dbdbdb;
  --theme-border-hover: #777;
  --faint-blue: #f0f8ff;
  
}

/* 🌙 Dark Theme */

.dark {
  @include mat.all-component-colors($rclone-manager-dark-theme);
}
.dark {

  /* Define custom colors for dark mode */
  --app-background: #242424;
  --secondary-background: #000000;
  --sidebar-background: #303030;
  --semi-transparent-background: rgba(30, 30, 30, 0.8);
  --shadow-color: rgba(150, 150, 150, 0.32);
  --hover-color: rgb(55, 55, 55);
  --app-text-color: #ffffff;
  --secodary-text-color: #939090;
  --border-color: #808080;
  --button-background: #333;
  --button-text: #ffffff;
  --button-hover: #444;
  --button-active: #555;
  --add-button-background: #444;
  --add-button-hover: #666;
  --theme-border: #555;
  --theme-border-hover: #888;
  --faint-blue: #464d50;

}

:root {
  /* Default colors */
  --light-theme-color: white;
  --dark-theme-color: black;
  --selected-border: #007bff;
  --green: #5CB85C;
  --orange: #F89F24;
  --red: #c30000;
  --blue: #3584e4;
  --purple: #9747FF;

  /* Default values */
  --border-radius: 8px;
  --button-border-radius: 12px;
  --title-bar-padding: 8px;
  --titlebar-height: 40px; // Adjust this value to match your title bar height
  --titlebar-border: 1px;
  --sidebar-width: 250px;
  --app-height: calc(100vh - (var(--titlebar-height) + var(--title-bar-padding) + var(--titlebar-border)));
}

html,
body {
  height: 100%;
  --mat-menu-container-shape: 16px;
}
body {
  margin: 0;
  font-family: system-ui, Inter, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}

button {
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  border-radius: var(--button-border-radius);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: transparent;
  color: white;


  &.primary,
  &.mount,
  &.finish {
    background-color: var(--green);
  }
  
  &.fix {
    background-color: var(--orange);
  }

  &.secondary,
  &.open,
  &.next {
    background-color: var(--blue);
  }

  &.cancel,
  &.delete,
  &.unmount {
    background-color: var(--red);
  }

  &.cancel {
    background-color: var(--secodary-text-color);
  }

  &.edit,
  &.back {
    background-color: var(--purple);
  }

  &:disabled {
    background-color: var(--button-background);
    color: var(--button-text);
    cursor: not-allowed;
  }

}

.mat-mdc-menu-item-text {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.mat-mdc-menu-panel {
  background-color: var(--app-background) !important;
}

.mat-mdc-menu-item {
  color: var(--app-text-color) !important;
  min-height: 36px !important;
  width: calc(100% - 12px) !important;
  margin: 6px !important;

  &:hover {
    background-color: var(--button-hover) !important;
  }
}

.mat-divider {
  border-color: var(--border-color) !important;
}

/* Disable text selection and use default cursor */
* {
  user-select: none;
  cursor: default;
  transition: background 0.5s ease, background-color 0.5s ease, color 0.05s ease;
  -webkit-user-drag: none; /* Disable image dragging in WebKit browsers */
}

/* Allow text selection and normal text cursor inside inputs */
input, textarea, [contenteditable="true"] {
  user-select: text;
  cursor: text;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 18px !important;
  color: var(--app-text-color) !important;
  background-color: var(--app-background) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--faint-blue) !important;
}

.cdk-overlay-dark-backdrop {
  background: var(--shadow-color) !important;
  border-radius: var(--border-radius) !important;
}