<app-overview-header
  [mode]="mode()"
  (openBackendModal)="openBackendModal.emit()"
  (toggleEditLayout)="toggleEditLayout()"
/>

<div class="overview-content">
  <!-- Status Summary -->
  <app-status-overview-panel
    [mode]="mode()"
    [totalCount]="remoteFacade.activeRemotes().length"
    [activeCount]="activeCount()"
    [inactiveCount]="inactiveCount()"
  />

  @if (isEditingLayout()) {
    <app-remotes-panel
      [title]="'generalOverview.layout.edit' | translate"
      [icon]="'pen'"
      [isActive]="true"
      [remotes]="remoteFacade.allRemotesForEditor()"
      [allRemotes]="remoteFacade.allRemotesForEditor()"
      [hiddenRemoteNames]="remoteFacade.hiddenRemoteNames()"
      [isEditingLayout]="true"
      [mode]="mode()"
      [displayMode]="cardDisplayMode()"
      [primaryActionLabel]="primaryActionLabel() | translate"
      [activeIcon]="activeIcon()"
      (layoutChanged)="onLayoutChanged($event)"
      (toggleHidden)="onToggleHidden($event)"
    />
  } @else {
    <!-- Active Remotes Panel -->
    @if (activeCount() > 0) {
      <app-remotes-panel
        [title]="activeTitle() | translate"
        [icon]="activeIcon()"
        [isActive]="true"
        [remotes]="activeRemotes()"
        [hiddenRemoteNames]="remoteFacade.hiddenRemoteNames()"
        [isEditingLayout]="false"
        [mode]="mode()"
        [displayMode]="cardDisplayMode()"
        [primaryActionLabel]="primaryActionLabel() | translate"
        [activeIcon]="activeIcon()"
        (remoteSelected)="selectRemote($event)"
        (openInFiles)="triggerOpenInFiles($event)"
        (startJob)="
          startJob.emit({
            type: $event.type,
            remoteName: $event.remoteName,
            profileName: $event.profileName,
          })
        "
        (stopJob)="stopJob.emit($event)"
      />
    }

    <!-- Inactive Remotes Panel -->
    @if (inactiveCount() > 0) {
      <app-remotes-panel
        [title]="inactiveTitle() | translate"
        [icon]="'circle-xmark'"
        [isActive]="false"
        [remotes]="inactiveRemotes()"
        [hiddenRemoteNames]="remoteFacade.hiddenRemoteNames()"
        [isEditingLayout]="false"
        [mode]="mode()"
        [displayMode]="cardDisplayMode()"
        [primaryActionLabel]="primaryActionLabel() | translate"
        [activeIcon]="activeIcon()"
        (remoteSelected)="selectRemote($event)"
        (openInFiles)="triggerOpenInFiles($event)"
        (startJob)="
          startJob.emit({
            type: $event.type,
            remoteName: $event.remoteName,
            profileName: $event.profileName,
          })
        "
        (stopJob)="stopJob.emit($event)"
      />
    }
  }
</div>
