<div class="nautilus-layout">
  <div class="nautilus-header">
    <mat-toolbar data-tauri-drag-region>
      <div class="header-start">
        <button class="nav-button" (click)="onToggleSearch()" [class.active]="isSearchMode()">
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </div>
      <div class="header-center">
        <span>{{ title() | translate }}</span>
      </div>
      <div class="header-end">
        @if (!isPickerMode()) {
          <button
            class="nav-button"
            [cdkMenuTriggerFor]="sidebarMainMenu"
            [cdkMenuPosition]="[
              { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top', offsetY: 8 },
            ]"
          >
            <mat-icon svgIcon="menu-bar"></mat-icon>
          </button>
        }
      </div>
    </mat-toolbar>
  </div>

  <div class="nautilus-scroll-content">
    <nav class="sidebar-nav">
      <!-- Starred -->
      <button
        class="sidebar-item"
        data-sidebar-starred="true"
        [class.selected]="starredMode()"
        [class.drag-over]="isDragging() && hoveredSidebarItem() === 'starred'"
        (click)="starredSelected.emit()"
        (dragover)="$event.preventDefault()"
        (drop)="droppedToStarred.emit($event)"
        [cdkContextMenuTriggerFor]="sidebarStarredMenu"
      >
        <mat-icon svgIcon="star"></mat-icon>
        <span>{{ 'nautilus.titles.starred' | translate }}</span>
      </button>

      <hr class="sidebar-rule" />

      <!-- Bookmarks -->
      <div
        class="sidebar-section-header"
        data-sidebar-bookmarks-header="true"
        [class.drag-over]="isDragging() && hoveredSidebarItem() === 'bookmarks-header'"
        (dragover)="$event.preventDefault()"
        (drop)="droppedToLocal.emit($event)"
      >
        {{ 'nautilus.titles.bookmarks' | translate }}
      </div>

      @for (bm of bookmarks(); track bm.meta.remote + ':' + bm.entry.Path) {
        <button
          class="sidebar-item"
          [attr.data-sidebar-bookmark-path]="bm.entry.Path"
          [class.selected]="isBookmarkSelected(bm)"
          [class.drag-over]="isDragging() && hoveredSidebarItem() === 'bookmark:' + bm.entry.Path"
          (click)="onOpenBookmark(bm)"
          (dragover)="$event.preventDefault()"
          (drop)="droppedToBookmark.emit({ event: $event, target: bm })"
          [cdkContextMenuTriggerFor]="sidebarBookmarkMenu"
          [cdkContextMenuTriggerData]="{ $implicit: bm }"
        >
          <mat-icon
            [svgIcon]="bm.meta.remoteType ? iconService.getIconName(bm.meta.remoteType) : 'folder'"
          ></mat-icon>
          <span>{{ bm.entry.Name }}</span>
        </button>
      } @empty {
        <p class="empty-hint">{{ 'nautilus.bookmarks.emptyHint' | translate }}</p>
      }

      <!-- Local Drives -->
      @if (localDrives().length > 0) {
        <hr class="sidebar-rule" />
        <div class="sidebar-section-header">{{ 'nautilus.titles.local' | translate }}</div>
        @for (drive of localDrives(); track drive.name) {
          <ng-container
            [ngTemplateOutlet]="remoteItem"
            [ngTemplateOutletContext]="{
              remote: drive,
              icon: 'hard-drive',
              label: drive.label,
              sub: drive.showName ? drive.name : null,
            }"
          ></ng-container>
        }
      }

      <!-- Cloud Remotes -->
      @if (cloudRemotes().length > 0) {
        <hr class="sidebar-rule" />
        <div class="sidebar-section-header">{{ 'nautilus.titles.cloud' | translate }}</div>
        @for (remote of cloudRemotes(); track remote.name) {
          <ng-container
            [ngTemplateOutlet]="remoteItem"
            [ngTemplateOutletContext]="{
              remote: remote,
              icon: iconService.getIconName(remote.type),
              label: remote.label,
              sub: null,
            }"
          ></ng-container>
        }
      }
    </nav>
  </div>

  <app-operations-panel></app-operations-panel>
</div>

<!-- Remote item template -->
<ng-template #remoteItem let-remote="remote" let-icon="icon" let-label="label" let-sub="sub">
  <button
    class="sidebar-item"
    [attr.data-sidebar-remote-name]="remote.name"
    [class.selected]="
      nautilusRemote()?.name === remote.name && !starredMode() && !anyBookmarkSelected()
    "
    [class.drag-over]="isDragging() && hoveredSidebarItem() === 'remote:' + remote.name"
    (click)="onSelectRemote(remote)"
    (dragover)="$event.preventDefault()"
    (drop)="droppedToRemote.emit({ event: $event, target: remote })"
    [cdkContextMenuTriggerFor]="sidebarRemoteMenu"
    [cdkContextMenuTriggerData]="{ $implicit: remote }"
  >
    <mat-icon [svgIcon]="icon"></mat-icon>
    <span class="item-label">
      {{ label | translate }}
      @if (sub) {
        <em>({{ sub }})</em>
      }
    </span>
  </button>
</ng-template>

<!-- Context menus -->
<ng-template #openSubMenu let-data>
  <div class="material-context-menu" cdkMenu>
    @if (data.type === 'remote') {
      <button class="menu-item" cdkMenuItem (click)="onSelectRemote(data.item)">
        {{ 'nautilus.contextMenu.open' | translate }}
      </button>
      <button class="menu-item" cdkMenuItem (click)="onOpenRemoteInNewTab(data.item)">
        {{ 'nautilus.contextMenu.openNewTab' | translate }}
      </button>
      <button class="menu-item" cdkMenuItem (click)="onOpenRemoteInNewWindow(data.item)">
        {{ 'nautilus.contextMenu.openNewWindow' | translate }}
      </button>
    } @else if (data.type === 'bookmark') {
      <button class="menu-item" cdkMenuItem (click)="onOpenBookmark(data.item)">
        {{ 'nautilus.contextMenu.open' | translate }}
      </button>
      <button class="menu-item" cdkMenuItem (click)="onOpenBookmarkInNewTab(data.item)">
        {{ 'nautilus.contextMenu.openNewTab' | translate }}
      </button>
      <button class="menu-item" cdkMenuItem (click)="onOpenBookmarkInNewWindow(data.item)">
        {{ 'nautilus.contextMenu.openNewWindow' | translate }}
      </button>
    } @else if (data.type === 'starred') {
      <button class="menu-item" cdkMenuItem (click)="starredSelected.emit()">
        {{ 'nautilus.contextMenu.open' | translate }}
      </button>
    }
  </div>
</ng-template>

<ng-template #sidebarStarredMenu>
  <div class="material-context-menu" cdkMenu>
    <button
      class="menu-item"
      cdkMenuItem
      [cdkMenuTriggerFor]="openSubMenu"
      [cdkMenuTriggerData]="{ $implicit: { type: 'starred' } }"
    >
      <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
      <mat-icon svgIcon="chevron-right"></mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #sidebarMainMenu>
  <div class="material-context-menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (click)="requestShortcuts.emit()">
      {{ 'shortcuts.title' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #sidebarRemoteMenu let-remote>
  <div class="material-context-menu" cdkMenu>
    <button
      class="menu-item"
      cdkMenuItem
      [cdkMenuTriggerFor]="openSubMenu"
      [cdkMenuTriggerData]="{ $implicit: { type: 'remote', item: remote } }"
    >
      <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
      <mat-icon svgIcon="chevron-right"></mat-icon>
    </button>
    <mat-divider></mat-divider>
    @if (supportsCleanup(remote)) {
      <button class="menu-item danger" cdkMenuItem (click)="requestCleanup.emit(remote)">
        {{ 'nautilus.contextMenu.emptyTrash' | translate }}
      </button>
      <mat-divider></mat-divider>
    }
    <button class="menu-item" cdkMenuItem (click)="requestAbout.emit(remote)">
      {{ 'nautilus.contextMenu.about' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #sidebarBookmarkMenu let-bookmark>
  <div class="material-context-menu" cdkMenu>
    <button
      class="menu-item"
      cdkMenuItem
      [cdkMenuTriggerFor]="openSubMenu"
      [cdkMenuTriggerData]="{ $implicit: { type: 'bookmark', item: bookmark } }"
    >
      <span>{{ 'nautilus.contextMenu.open' | translate }}</span>
      <mat-icon svgIcon="chevron-right"></mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button class="menu-item" cdkMenuItem (click)="requestProperties.emit(bookmark)">
      {{ 'nautilus.contextMenu.properties' | translate }}
    </button>
    <mat-divider></mat-divider>
    <button class="menu-item danger" cdkMenuItem (click)="requestBookmarkRemoval.emit(bookmark)">
      {{ 'nautilus.contextMenu.removeBookmark' | translate }}
    </button>
  </div>
</ng-template>
