@if (showDevelopmentBanner()) {
  <mat-toolbar class="development-banner">
    <span class="warning-icon">🚧</span>
    <span class="banner-message">Development Build</span>
    <span class="banner-subtitle"
      >Features may be unstable • Data loss possible • Not for production use</span
    >
  </mat-toolbar>
}

<mat-toolbar
  class="flatpak-warning-banner slide-toggle-banner"
  [class.visible]="showFlatpakWarning()"
>
  <mat-icon
    matTooltipShowDelay="500"
    matTooltip="Don't show again"
    (click)="dismissFlatpakWarning()"
    svgIcon="circle-xmark"
    class="warning-icon"
  ></mat-icon>
  <span class="banner-message">Flatpak Note</span>
  <span class="banner-subtitle"
    >Some features may require manual permission adjustments.
    <a
      href="https://github.com/Zarestia-Dev/rclone-manager/wiki/Troubleshooting-Linux#-issue-2-permission-errors-flatpak-security"
      target="_blank"
      rel="noopener noreferrer"
    >
      Learn more
    </a></span
  >
</mat-toolbar>

<mat-toolbar
  class="metered-banner slide-toggle-banner"
  [class.visible]="isMeteredConnection()"
  role="alert"
>
  You are on a metered connection. Some features may use extra data.
</mat-toolbar>
