@if (showDevelopmentBanner()) {
  <mat-toolbar class="development-banner">
    <span class="warning-icon">🚧</span>
    <span class="banner-message">{{ 'banners.development.title' | translate }}</span>
    <span class="banner-subtitle">{{ 'banners.development.subtitle' | translate }}</span>
  </mat-toolbar>
}

<mat-toolbar
  class="flatpak-warning-banner slide-toggle-banner"
  [class.visible]="showFlatpakWarning()"
>
  <mat-icon
    matTooltipShowDelay="500"
    [matTooltip]="'banners.flatpak.dismissTooltip' | translate"
    (click)="dismissFlatpakWarning()"
    svgIcon="circle-xmark"
    class="warning-icon"
  ></mat-icon>
  <span class="banner-message">{{ 'banners.flatpak.title' | translate }}</span>
  <span class="banner-subtitle"
    >{{ 'banners.flatpak.subtitle' | translate }}
    <a
      href="https://github.com/Zarestia-Dev/rclone-manager/wiki/Troubleshooting-Linux#-issue-2-permission-errors-flatpak-security"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ 'banners.flatpak.learnMore' | translate }}
    </a></span
  >
</mat-toolbar>

<mat-toolbar
  class="metered-banner slide-toggle-banner"
  [class.visible]="isMeteredConnection()"
  role="alert"
>
  {{ 'banners.metered.message' | translate }}
</mat-toolbar>
