.tabs-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .mat-mdc-icon-button {
    &.selected {
      outline: none !important;
      background-color: var(--button-hover) !important;

      .mat-mdc-button-persistent-ripple::before {
        opacity: 0.12 !important;
        background-color: var(--selected-tab-color) !important;
      }
    }

    &:active,
    &:focus-visible {
      outline: none !important;
      background-color: var(--selected-tab-color) !important;
    }
  }
}
