<div class="tabs-container">
  <div
    class="tabs-scroll-container hide-scrollbar"
    #tabsScrollContainer
    appScrollShadow
    [class.show-left-shadow]="showLeft()"
    [class.show-right-shadow]="showRight()"
    (leftShadow)="showLeft.set($event)"
    (rightShadow)="showRight.set($event)"
  >
    <div
      class="tabs-bar"
      role="tablist"
      (dragover)="onNativeDragOver($event)"
      (drop)="onNativeDrop($event)"
    >
      @for (vm of tabViewModels(); track vm.tab.id) {
        <div
          class="tab"
          draggable="true"
          role="tab"
          tabindex="0"
          [attr.aria-selected]="activeTabIndex() === vm.index"
          [attr.data-tab-index]="vm.index"
          [class.active]="activeTabIndex() === vm.index"
          [class.is-dragging]="_draggedTabIndex() === vm.index"
          [class.is-outside]="_isDraggedOutside() && _draggedTabIndex() === vm.index"
          [class.file-drag-over]="isDragging() && hoveredTabIndex() === vm.index"
          [style.transform]="vm.transform"
          (click)="switchTab.emit(vm.index)"
          (keydown.enter)="switchTab.emit(vm.index)"
          (keydown.space)="$event.preventDefault(); switchTab.emit(vm.index)"
          (mousedown)="onTabMiddleClick($event, vm.index)"
          (dragstart)="onNativeDragStart($event, vm.tab, vm.index)"
          (dragend)="onNativeDragEnd($event, vm.tab, vm.index)"
          (dragover)="onNativeDragOver($event, vm.index)"
          (dragleave)="onNativeDragLeave($event)"
          (drop)="onNativeDrop($event, vm.index)"
          [cdkContextMenuTriggerFor]="tabContextMenu"
          [cdkContextMenuTriggerData]="{ $implicit: vm.index }"
          [matTooltip]="vm.tooltip"
          [matTooltipShowDelay]="800"
        >
          <span class="tab-title">{{ vm.tab.title }}</span>
          <button
            class="close-tab"
            [attr.aria-label]="'common.close' | translate"
            (click)="$event.stopPropagation(); closeTab.emit(vm.index)"
          >
            <mat-icon svgIcon="close" />
          </button>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #tabContextMenu let-tabIdx>
  <div class="material-context-menu" cdkMenu>
    <button class="menu-item" cdkMenuItem (click)="detachTabAction(tabIdx)">
      <span class="item-label">{{ 'nautilus.contextMenu.detachTab' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="duplicateTab.emit(tabIdx)">
      <span class="item-label">{{ 'nautilus.contextMenu.duplicateTab' | translate }}</span>
    </button>
    <mat-divider />
    <button class="menu-item" cdkMenuItem (click)="closeTab.emit(tabIdx)">
      <span class="item-label">{{ 'nautilus.contextMenu.closeTab' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="closeOtherTabs.emit(tabIdx)">
      <span class="item-label">{{ 'nautilus.contextMenu.closeOtherTabs' | translate }}</span>
    </button>
    <button class="menu-item" cdkMenuItem (click)="closeTabsToRight.emit(tabIdx)">
      <span class="item-label">{{ 'nautilus.contextMenu.closeTabsToRight' | translate }}</span>
    </button>
  </div>
</ng-template>
